<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  </head>

  <body>
  
    <p>Subscribe to our newsletter:</p>
  
    <form action="subscribe.html" th:action="@{/subscribe}">
      <fieldset>
        <input type="text" name="email" />
        <input type="submit" value="Subscribe me!" th:value="#{subscribe.submit}" />
      </fieldset>
    </form>
  
    <p>
      <a href="home.html" th:href="@{/}">Return to home</a>
    </p>
  
  </body>
  
</html>

