<?xml version="1.0" encoding="UTF-8"?>

<!--
   Copyright 2013, The Thymeleaf Project (http://www.thymeleaf.org/)

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<dialect xmlns="http://www.thymeleaf.org/extras/dialect"
	prefix="th" namespace-uri="http://www.thymeleaf.org/spring" namespace-strict="false"
	class="org.thymeleaf.spring3.dialect.SpringStandardDialect">


	<!-- Introduced processors -->
	<!-- ===================== -->

	<attribute-processor name="field">
		<documentation
			reference="Thymeleaf + Spring 3 section 6 on Creating a Form">
			<![CDATA[
			Binds an input property with the value in the form's backing bean.<br/>
			<br/>
			Values for th:field attributes must be selection expressions (*{...}),
			as they will be evaluated on the form backing bean and not on the context
			variables (model attributes in Spring MVC jargon).
			]]>
		</documentation>
		<restrictions tags="input option select textarea"/>
	</attribute-processor>

	<attribute-processor name="errors">
		<documentation see-also="fields.errors"
			reference="Thymeleaf + Spring 3 section 7 on Validation and Error Messages">
			<![CDATA[
			Works in a similar way to <b>#fields.errors()</b>, but lists all errors
			for the given field name, separated by a &lt;br/&gt;
			]]>
		</documentation>
	</attribute-processor>


	<!-- General field attribute processors -->
	<!-- ================================== -->

	<attribute-processor name="color"/>
	<attribute-processor name="date"/>
	<attribute-processor name="datetime-local"/>
	<attribute-processor name="email"/>
	<attribute-processor name="month"/>
	<attribute-processor name="number"/>
	<attribute-processor name="range"/>
	<attribute-processor name="search"/>
	<attribute-processor name="tel"/>
	<attribute-processor name="time"/>
	<attribute-processor name="url"/>
	<attribute-processor name="week"/>


	<!-- Spring field attribute processors -->
	<!-- ================================= -->

	<attribute-processor name="method"/>


	<!-- Additional expression objects -->
	<!-- ============================= -->

	<expression-object-method name="fields.errors">
		<documentation see-also="errors"
			reference="Thymeleaf + Spring 3 section 7 on Validation and Error Messages">
			<![CDATA[
			Returns a list of error messages for the given field name.
			]]>
		</documentation>
	</expression-object-method>

	<expression-object-method name="fields.hasErrors">
		<documentation
			reference="Thymeleaf + Spring 3 section 7 on Validation and Error Messages">
			<![CDATA[
			Returns whether any validation errors exist for the field name in the
			given expression.
			]]>
		</documentation>
	</expression-object-method>

	<expression-object name="themes" class="org.thymeleaf.spring3.expression.Themes"/>

</dialect>
