<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>extraThyme: Thymeland's soccer scoreboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/extrathyme.css" th:href="@{/css/extrathyme.css}"/>
  </head>

  <body>

    <div>
      <img src="../../images/extrathymelogo.png" alt="extraThyme logo" title="extraThyme logo" 
           th:src="@{/images/extrathymelogo.png}" th:alt-title="#{title.application}"/>
    </div>
    
    <banner:addBanner />
    
    <div class="classification">
    
      <h2 th:text="#{title.classification(${execInfo.now.time})}">Classification for 07 July 2011</h2>
      
      <table>
        <thead>
          <tr>
            <th th:text="#{team.name}">Team</th>
            <th th:text="#{team.points}">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="t : ${allTeams}">
            <td th:text="${t.name}">The Winners</td>
            <td th:text="${t.points}">99</td>
          </tr>
          <tr th:remove="all">
            <td>The Losers</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
      
    </div>

  </body>
</html>