<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">

  <head>
    <title>extraThyme: Thymeland's soccer scoreboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/extrathyme.css" th:href="@{/css/extrathyme.css}"/>
  </head>

  <body>

    <div>
      <img src="../../images/extrathymelogo.png" alt="extraThyme logo" title="extraThyme logo" 
           th:src="@{/images/extrathymelogo.png}" th:alt-title="#{title.application}"/>
    </div>
    
    <score:latestscores />
    
    <div class="classification">
    
      <h2 th:text="#{title.classification(${execInfo.now.time})}">Classification for 07 July 2011</h2>
      
      <table>
        <thead>
          <tr>
            <th th:text="#{team.name}">Team</th>
            <th th:text="#{team.points}" class="points">Points</th>
            <th th:text="#{team.goalsScored}" class="points">Goals Scored</th>
            <th th:text="#{team.goalsConceded}" class="points">Goals Conceded</th>
            <th th:text="#{team.remarks}">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="t : ${teams}" score:appendclassforposition="${tStat.count}">
            <td th:text="${t.name + ' (' + t.code + ')'}">TWN The Winners</td>
            <td th:text="${t.points}" class="points">99</td>
            <td th:text="${t.goalsScored}" class="points">45</td>
            <td th:text="${t.goalsConceded}" class="points">12</td>
            <td score:remarkforposition="${tStat.count}">Great winner!</td>
          </tr>
          <tr th:remove="all">
            <td>TLS The Losers</td>
            <td class="points">1</td>
            <td class="points">18</td>
            <td class="points">28</td>
            <td>Big loooooser</td>
          </tr>
        </tbody>
      </table>
      
    </div>

  </body>
</html>