<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-1.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Spring Thyme Seedbed Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

    <h1>Spring Thyme Seedbed Manager</h1>
  
    <p>Welcome to the Manager!</p>

    <form action="#" th:action="@{/seedbedmng}" th:object="${seedbed}" method="post">

      <fieldset>
      
        <legend th:text="#{seedbed.data}">Seedbed data</legend>
      
        <input type="hidden" th:field="*{id}" />
        <div>
          <input type="text" th:field="*{datePlanted}" />
        </div>
        <div>
          <input type="checkbox" th:field="*{covered}" />
        </div>
        <div>
          <select th:field="*{type}">
            <option th:each="type : ${types}" th:value="${type}" th:text="${type}">[type]</option>
          </select>
        </div>
        <div>
          <p th:each="feat : ${features}">
            <input type="checkbox" th:field="*{features}" th:value="${feat}" /><span th:text="${feat}">[feat]</span>
          </p>
        </div>

        <div>
          <table>
            <thead>
              <tr>
                <th>Variety</th>
                <th>Seeds per pod</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="row,rowStat : *{rows}">
                <th>
                  <select th:field="*{rows[__${rowStat.index}__].variety}">
                    <option th:each="var : ${varieties}" th:value="${var.id}" th:text="${var.name}">[var]</option>
                  </select>
                </th>
                <th>
                  B
                </th>
              </tr>
            </tbody>
          </table>
          <input type="submit" name="addRow" />
        </div>

        <div>
          <input type="submit" value="Submit" 
                 th:value="*{id == null}? #{seedbed.create} : #{seedbed.modify}" />    
        </div>
      
      </fieldset>
      
    </form>

  </body>
</html>