<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ =============================================================================
  ~
  ~   Copyright (c) 2011-2018, The THYMELEAF team (http://www.thymeleaf.org)
  ~
  ~   Licensed under the Apache License, Version 2.0 (the "License");
  ~   you may not use this file except in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~
  ~ =============================================================================
  -->

<dialect xmlns="http://www.thymeleaf.org/extras/dialect"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org/extras/dialect
	                    http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd"
	prefix="sec"
	namespace-uri="http://www.thymeleaf.org/extras/spring-security"
	namespace-strict="false"
	class="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect">

	<attribute-processor
		name="authentication"
		class="org.thymeleaf.extras.springsecurity5.dialect.processor.AuthenticationAttrProcessor">
		<documentation
			reference="Thymeleaf Spring Security 4 integration module readme"/>
	</attribute-processor>

	<attribute-processor
		name="authorize"
		class="org.thymeleaf.extras.springsecurity5.dialect.processor.AuthorizeAttrProcessor">
		<documentation
			reference="Thymeleaf Spring Security 4 integration module readme"/>
	</attribute-processor>

	<attribute-processor
		name="authorize-acl"
		class="org.thymeleaf.extras.springsecurity5.dialect.processor.AuthorizeAclAttrProcessor">
		<documentation
			reference="Thymeleaf Spring Security 4 integration module readme"/>
	</attribute-processor>

	<attribute-processor
		name="authorize-expr">
		<documentation
			reference="Thymeleaf Spring Security 4 integration module readme">
			<![CDATA[
			An alias for <b>sec:authorize</b>, renders the element children (*tag
			content*) if the authenticated user is authorized to see it according
			to the specified <i>Spring Security expression</i>.
			]]>
		</documentation>
	</attribute-processor>

	<attribute-processor
		name="authorize-url"
		class="org.thymeleaf.extras.springsecurity5.dialect.processor.AuthorizeUrlAttrProcessor">
		<documentation
			reference="Thymeleaf Spring Security 4 integration module readme"/>
	</attribute-processor>


	<expression-object name="authentication" class="org.springframework.security.core.Authentication"/>
	<expression-object name="authorization"  class="org.thymeleaf.extras.springsecurity5.auth.Authorization"/>

</dialect>
