<?xml version="1.0" encoding="UTF-8"?>
<web-app id="gtvg"
         version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">


    <display-name>thymeleafexamples-gtvg</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <filter>
        <filter-name>gtvgfilter</filter-name>
        <filter-class>thymeleafexamples.gtvg.web.filter.GTVGFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>gtvgfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
