
html {
  background-color: #f0f0f0;
}

body {
  font-family: 'DejaVu Sans', Arial, Helvetica;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0px auto; 
  padding: 20px 20px; 
  width: 850px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}


div.leaguetable {
    
}

div.leaguetable > table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

div.leaguetable > table > tbody > tr > td, div.leaguetable > table > thead > tr > th {
  padding: 2px 10px;
  border-left: 1px dotted #000000;
  vertical-align: top;
  line-height: 20px;
}

div.leaguetable > table > tbody > tr, div.leaguetable > table > thead > tr {
  border-bottom: 1px solid #000000;
}

div.leaguetable > table th {
  background-color: #99cc33;
}

div.leaguetable > table > tbody > tr > td > table {
  width: 100%;
  border-collapse: separate;
}

div.leaguetable > table > tbody > tr > td > table > tbody > tr> td {
  background-color: #ddff77;
  padding: 0px 5px;
}

div.leaguetable > table > tbody > tr > td > table > tbody > tr> td:last-child {
  text-align: right;
}

th.points, th.matches {
  width: 30px;
}

td.points, td.matches {
  width: 30px;
  text-align: right;
}

td.points {
  font-weight: bold;
}



tr.wcl {
  background-color: #ddf;
}

tr.cpo {
  background-color: #dfd;
}

tr.rel {
  background-color: #fdd;
}

.headlines {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px dotted #000;
  background-color: #fffeab;
  font-weight: bold;
}

.matchday {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px dotted #000;
  background-color: #ff5533;
  font-weight: bold;
  color: #fffeab;
}