<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>HTML Template Reader Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/test.css" th:href="@{/css/test.css}"/>
  </head>

  <body>

    <h1>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </h1>
    
    <p th:text="'The currency of Europe is the &euro;'">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

    <p th:if="${a} &lt; 3">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

    <p class="&pound;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&euro;&euro;&euro;&euro;&euro;&euro;&euro;
      &euro;&euro;&euro;&euro;&euro;&euro;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
      &pound;&quot;&yen;&uml;&uml;&shy;
    </p>

  </body>
</html>