<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Thymeleafexamples - Spring Security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:replace="index::logout"></div>
        <h1>Thymeleafexamples - Spring Security</h1>
        <p>This is the <b>shared</b> zone</p>
        <p>Only authenticated users with roles <b>USER</b> or <b>ADMIN</b> are allowed to see this page.</p>
        <p>Different content is shown depending on the role of the authenticated user.</p>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to <b>administrators</b>.
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to <b>users</b>.
        </div>
        <p><a href="../index.html" th:href="@{/index.html}">Back to home page</a></p>
    </body>
</html>
