<!DOCTYPE html>
<html>

  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Thymeleaf: java XML/XHTML/HTML5 template engine</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/thymeleaf.css" />
    <link rel="shortcut icon" href="http://www.thymeleaf.org/favicon.ico" />
  </head>


  <body lang="en" dir="ltr">

  <div id="page">
  
   <div id="menu">
     <ul>
       <li><a href="index.html" title="Home">Home</a></li>
       <li><a href="download.html" title="Download">Download</a></li>
       <li><a href="documentation.html" title="Documentation">Documentation</a></li>
       <li><a href="http://forum.thymeleaf.org" title="User Forum">User Forum</a></li>
       <li><a href="https://sourceforge.net/tracker/?group_id=509826" title="Issue Tracking">Issue Tracking</a></li>
     </ul>
   </div>

   <div id="header">
     <a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a>
   </div>

   <div id="breadcrumb">
      <a href="index.html">thymeleaf</a>
      ::
      <span class="current">home</span>
   </div>


   <div id="content">

    <p>
      <i>12 June 2011</i>: <b>Thymeleaf 1.0.0-beta2 RELEASED!</b><br />
    </p>
   
    <p>
      <i>14 April 2011</i>: New guide: <a href="standarddialect5minutes.html"><b>Getting started with the Standard Dialect in 5 minutes</b></a><br />
    </p>
   
    <p>
      <i>14 April 2011</i>: New article: <a href="thvsjsp.html"><b>Spring MVC view layer: Thymeleaf vs JSP</b></a><br />
    </p>

    <h2>What is Thymeleaf?</h2>
    
    <p>
      Thymeleaf is a Java library. It is an <b>XML/XHTML/HTML5</b> template engine able to 
      apply a set of transformations to template files in order to display data and/or text 
      produced by your applications.
    </p>
    <p>
      It is better suited for serving XHTML/HTML5 in web applications, but it can process 
      any XML file, be it in web or in standalone applications. 
    </p>
    <p>
      It also includes a special (optional) module for integration with <b>Spring MVC</b>, so that you 
      can use it instead of JSP in your applications made with this technology, even with HTML5.
    </p>
    <p>
      The main goal of Thymeleaf is to provide an elegant and well-formed way of creating 
      templates. Its <i>Standard Dialect</i> allows you to create powerful <i>templates that 
      can still work at the same time as static prototypes</i>, and you are also allowed to 
      create your own dialects for applying your own transformations and logic to templates. 
    </p>
    <p>
      Its architecture allows a fast processing of templates, relying on intelligent 
      caching of parsed files in order to use the least possible amount of I/O operations 
      during execution.
    </p>
    <p>
      And last but not least, Thymeleaf has been designed from the beginning with XML and 
      Web standards in mind, allowing you to create fully validating templates if that is 
      a need for you. 
    </p>


    <h2>How does it look like?</h2>
    <p>
      It looks like this:
    </p>
    <code>
      &lt;<b>table</b>&gt;<br/>
      &nbsp;&nbsp;&lt;<b>thead</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b> th:text=<span class="string">"#{msgs.headers.name}"</span>&gt;Name&lt;/<b>td</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b> th:text=<span class="string">"#{msgs.headers.price}"</span>&gt;Price&lt;/<b>td</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/<b>tr</b>&gt;<br/>
      &nbsp;&nbsp;&lt;/<b>thead</b>&gt;<br/>
      &nbsp;&nbsp;&lt;<b>tbody</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b> th:each=<span class="string">"prod : ${allProducts}"</span>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b> th:text=<span class="string">"${prod.name}"</span>&gt;Oranges&lt;/<b>td</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b> th:text=<span class="string">"${#numbers.formatDecimal(prod.price,1,2)}"</span>&gt;0.99&lt;/<b>td</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/<b>tr</b>&gt;<br/>
      &nbsp;&nbsp;&lt;/<b>tbody</b>&gt;<br/>
      &lt;/<b>table</b>&gt;<br/>
    </code>
    
    <p>
      A quick look at this piece of code reveals internationalization expressions (<tt>#{...}</tt>),
      variable/model-attribute evaluation expressions (<tt>${...}</tt>) and even utility functions
      (<tt>#numbers.formatDecimal(...)</tt>).
    </p>
    <p>
      But there's so much more: full (optional) Spring MVC integration - including form binding, property
      editors and validation messages -, XML validation artifacts, text/javascript inlining and an
      intelligent template cach&eacute; system. 
    </p>


    <h2>How is it distributed?</h2>
    <p>
      Thymeleaf is Open Source Software, and it is distributed under the terms of the <a href="license.html">Apache License 2.0</a>.
    </p>

    <h2>Where can I start learning about it?</h2>

    <p>
      You should start by reading the <b>tutorials</b> at the <a href="documentation.html">documentation page</a>.
    </p>

    <h2>Project Status</h2>

    <p>
      Thymeleaf is in beta stage, current version is <b>1.0.0-beta2</b>.
    </p>

    <h2>Why is it beta?</h2>

    <p>
      Being beta does not mean that the software does not work - it does. But we still need to prepare an
      <i>Extending Thymeleaf</i> tutorial as well as creating some really useful javadoc text before producing
      a stable release that deserves to be called so.
    </p>
    <p>
      In the meantime, we would love you to use the software, talk about it, love it, hate it, and also report
      any bugs you might find.
    </p>

    <h2>Have a question?</h2>

    <p>
     Post it at our <a href="http://forum.thymeleaf.org">User Forum</a>.
    </p>



   </div>
   
   <div id="footer">
     <div id="twitter">
       <a href="http://www.twitter.com/thymeleaf"><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Follow @thymeleaf on Twitter" title="Follow @thymeleaf on Twitter "/></a>
     </div>
     <div id="sourceforge">
       <a href="http://sourceforge.net/projects/thymeleaf"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=509826&amp;type=9" width="80" height="15" alt="Get thymeleaf at SourceForge.net. Fast, secure and Free Open Source software downloads" /></a>
     </div>
     <div id="copy">
       Copyright &copy; 2011 The <a href="team.html">THYMELEAF Team</a>. All Rights Reserved.
     </div>
   </div>


   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1276954-9']);
     _gaq.push(['_trackPageview']);

     (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

   </script>
   
  </div>

  </body>
</html>