<!DOCTYPE html>
<html>

  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Thymeleaf: java XML/XHTML/HTML5 template engine</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/thymeleaf.css" />
    <link rel="shortcut icon" href="http://www.thymeleaf.org/favicon.ico" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang:'en', parsetags:'explicit'}
    </script>
  </head>


  <body lang="en" dir="ltr">

  <div id="page">
  
   <div id="menu">
     <ul>
       <li><a href="index.html" title="Home">Home</a></li>
       <li><a href="features.html" title="Features">Features</a></li>
       <li><a href="download.html" title="Download">Download</a></li>
       <li><a href="documentation.html" title="Documentation">Documentation</a></li>
       <li><a href="ecosystem.html" title="Ecosystem">Ecosystem</a></li>
       <li><a href="http://forum.thymeleaf.org" title="User Forum">User Forum</a></li>
       <li><a href="issuetracking.html" title="Issue Tracking">Issue Tracking</a></li>
     </ul>
   </div>

   <div id="header">
     <a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a>
   </div>

   <div id="breadcrumb">
      <a href="index.html">thymeleaf</a>
      ::
      <span class="current">home</span>
   </div>


   <div id="content">

    <p class="notice">
      <b>Spread the word!</b>: Have you written an article or blog post about Thymeleaf? Tell us!
      (email, twitter,...) We'll link the best tutorials and how-to's from our website.
    </p>

<!--  
    <p class="notice">
      The <b><a href="http://www.springio.net">Spring I/O 2012 Madrid</a></b> is over, and we have published
      both the slides (in English) from our talk and the <i>interactive tutorial</i> from our
      workshop at our special <a href="springio2012.html">Thymeleaf at the Spring I/O 2012</a> page.
    </p>
 -->

    <p>
      <i>26 July 2012</i>: New version: <b>Thymeleaf 2.0.11</b> has been released! This is a
      bugfixing version, and should work as a drop-in replacement 
      for 2.0.x versions. <a href="download.html">Download and see ChangeLog</a>.
    </p>    

    <p>
      <i>18 July 2012</i>: An <b>Apache Tiles 2 integration</b> package has just been released! The 
      <kbd>thymeleaf-extras-tiles2</kbd> module allows you to use Apache Tiles in your Thymeleaf
      applications, and <b>with natural templating capabilities</b>. 
      See it at our <a href="ecosystem.html">Thymeleaf Ecosystem</a> page.
    </p>    

    <p>
      <i>22 June 2012</i>: Emanuel Rabina has created a new dialect for creating and managing 
      layouts in Thymeleaf web applications, in a way similar to how SiteMesh works.
      See it at our <a href="ecosystem.html">Thymeleaf Ecosystem</a> page. 
    </p>
    
    <h2>What is Thymeleaf?</h2>
    
    <p>
      Thymeleaf is a Java library. It is an <b>XML / XHTML / HTML5 template engine</b> 
      (extensible to other formats) that can work both in web and non-web environments. It is better suited for serving XHTML/HTML5 
      at the <i>view layer</i> of web applications, but it can process any XML file even
      in offline environments. 
    </p>
    <p>
      It provides an optional module for integration with <b>Spring MVC</b>, so that you 
      can use it as a complete substitute of JSP in your applications made with this technology, even with HTML5.
    </p>
    <p>
      The main goal of Thymeleaf is to provide an elegant and well-formed way of creating 
      templates. Its <i>Standard</i> and <i>SpringStandard</i> dialects allow you to create powerful 
      <i>natural templates</i>, that can be correctly displayed by browsers
      and therefore work also as static prototypes. You can also extend Thymeleaf by 
      developing your own dialects. 
    </p>
    <p>
      For more detail, have a look at the <a href="features.html"><b>complete list of features</b></a>.
    </p>


    <h2>How does it look like?</h2>
    <p>
      It looks like this:
    </p>
    <code>
      &lt;<b>table</b>&gt;<br/>
      &nbsp;&nbsp;&lt;<b>thead</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b> th:text=<span class="string">"#{msgs.headers.name}"</span>&gt;Name&lt;/<b>th</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b> th:text=<span class="string">"#{msgs.headers.price}"</span>&gt;Price&lt;/<b>th</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/<b>tr</b>&gt;<br/>
      &nbsp;&nbsp;&lt;/<b>thead</b>&gt;<br/>
      &nbsp;&nbsp;&lt;<b>tbody</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b> th:each=<span class="string">"prod : ${allProducts}"</span>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b> th:text=<span class="string">"${prod.name}"</span>&gt;Oranges&lt;/<b>td</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b> th:text=<span class="string">"${#numbers.formatDecimal(prod.price,1,2)}"</span>&gt;0.99&lt;/<b>td</b>&gt;<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/<b>tr</b>&gt;<br/>
      &nbsp;&nbsp;&lt;/<b>tbody</b>&gt;<br/>
      &lt;/<b>table</b>&gt;<br/>
    </code>
    
    <p>
      A quick look at this piece of code reveals internationalization expressions (<kbd>#{...}</kbd>),
      variable/model-attribute evaluation expressions (<kbd>${...}</kbd>) and even utility functions
      (<kbd>#numbers.formatDecimal(...)</kbd>). It also shows that this fragment of (X)HTML code
      can be perfectly displayed by a browser as a prototype, without being executed at all &mdash;something
      called a <i>natural template</i>. 
    </p>
    <p>
      But there's so much more: full (optional) Spring MVC integration - including form binding, property
      editors and validation messages -, XML validation artifacts, text/javascript inlining and an
      intelligent template cache system. 
    </p>
    <p>
      Again, for more detail have a look at the <a href="features.html">complete list of features</a>.
    </p>


    <h2>How is it distributed?</h2>
    <p>
      Thymeleaf is Open Source Software, and it is distributed under the terms of the <a href="license.html">Apache License 2.0</a>.
    </p>

    <h2>Where can I start learning about it?</h2>

    <p>
      You should start by reading the <b>tutorials</b> at the <a href="documentation.html">documentation page</a>.
    </p>

    <h2>How can I keep updated about Thymeleaf?</h2>
    
    <p>
      One of the best ways to do it is to <a href="http://www.twitter.com/thymeleaf">follow us on twitter</a>, but
      you can also subscribe to our 
      <a href="http://forum.thymeleaf.org/Thymeleaf-News-and-Announcements-f2234422.html">News and Announcements Forum</a>.
    </p>

    <h2>Project Status</h2>

    <p>
      Thymeleaf is production-ready. Current stable version is <b>2.0.11</b>. 
    </p>

    <h2>Have a question?</h2>

    <p>
     Post it at our <a href="http://forum.thymeleaf.org">User Forum</a>.
    </p>



   </div>


   <div id="footer">
     <div id="googleplus">
       <div id="plusone-div" class="plusone"></div>
       <script type="text/javascript">
           gapi.plusone.render('plusone-div',{"size": "small", "count": "true", "href": "http://www.thymeleaf.org"});
       </script>
     </div>
     <div id="twitter">
       <a href="http://twitter.com/thymeleaf" class="twitter-follow-button" data-show-count="false">Follow @thymeleaf</a>
       <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
     </div>
     <div id="copy">
       Copyright &copy; The <a href="team.html">THYMELEAF Team</a>. See <a href="documentation.html">applicable licenses</a>.
     </div>
   </div>


   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1276954-9']);
     _gaq.push(['_trackPageview']);

     (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

   </script>
   
  </div>

  </body>
</html>