<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bringing HTML5 to the Spring PetClinic with Thymeleaf - Thymeleaf: java XML/XHTML/HTML5 template engine</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/thymeleaf.css" />
    <link rel="shortcut icon" href="http://www.thymeleaf.org/favicon.ico" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang:'en', parsetags:'explicit'}
    </script>
    
    <style type="text/css">
        /* ---------------------- */
        /* PETCLINIC IMAGES       */
        /* ---------------------- */
        #content img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
  </head>


  <body lang="en" dir="ltr">

  <div id="page">

  
   <div id="menu">
     <ul>
       <li><a href="index.html" title="Home">Home</a></li>
       <li><a href="features.html" title="Features">Features</a></li>
       <li><a href="download.html" title="Download">Download</a></li>
       <li><a href="documentation.html" title="Documentation">Documentation</a></li>
       <li><a href="ecosystem.html" title="Ecosystem">Ecosystem</a></li>
       <li><a href="http://forum.thymeleaf.org" title="User Forum">User Forum</a></li>
       <li><a href="https://sourceforge.net/tracker/?group_id=509826" title="Issue Tracking">Issue Tracking</a></li>
     </ul>
   </div>

   <div id="header">
     <a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a>
   </div>

   <div id="breadcrumb">
      <a href="index.html">thymeleaf</a>
      ::
      <a href="documentation.html">documentation</a> 
      :: 
      articles
      ::
      <span class="current">bringing html5 to the spring petclinic with thymeleaf</span>
   </div>


   <div id="content">

     <h1>Bringing HTML5 to the Spring PetClinic with Thymeleaf</h1>

     <p id="author">
       <i>By Soraya S&aacute;nchez &lt;sschz AT users.sourceforge.net&gt;</i>
     </p>



    <h2>The Spring PetClinic application</h2>
    
    <p><i>PetClinic</i> is one of the example applications created by SpringSource for
       the Spring Framework. It is designed to display and manage information 
       related to pets and veterinarians in a pet clinic. More info can be obtained 
       <a href="http://static.springsource.org/docs/petclinic.html">here</a>,
       and the source code can be obtained 
       <a href="https://src.springframework.org/svn/spring-samples/petclinic/trunk/">here</a>.</p>
    
    <img src="images/thymeleafpetclinic_home.png" alt="PetClinic home page"/>

    <p><i>Pet Clinic</i> originally includes a view layer created with JSP, which we will replace using Thymeleaf:</p>
    
    <ul>
        <li>Absolutely no modifications will be made to the Java code, just the view layer. The JSP files will be replaced
            and the application will be reconfigured.</li>
        <li>The original XHTML will be replaced with HTML5, and some HTML5-specific features will be 
            added (i.e. form input fields with type <kbd>tel</kbd>, <kbd>date</kbd>,...).</li>
        <li>Apart from the switch to HTML5, all the application's interface will have to display exactly the same
            as the original.</li>
        <li>Thymeleaf template files should display OK when open statically on a browser (<i>Natural templating</i>).</li>
    </ul>
    
    <p>
      All the code of the PetClinic+Thymeleaf application can be obtained at the 
      <a href="documentation.html">Thymeleaf Project's Documentation</a> page. Note that the original JSP files have 
      not been removed from the source tree but rather moved to the <kbd>doc/old_jsps</kbd> folder at the source tree,
      so that you can still access them in order to compare with the new templates.
    </p>
    
    <p>
      The version of the PetClinic application used as a base is the state of its SVN <i>trunk</i> as of March 2012.
    </p>
    
    
    <h3>The original JSP view layer</h3>
    
    <p>The original JSP view layer has a number of problems we will try to fix when converting the view layer
       to Thymeleaf:</p>
    <ul>
        <li>The JSP templates seem to define an XHTML interface, although no <kbd>DOCTYPE</kbd> declaration
            is applied and several minor format errors appear &mdash;like e.g. minimized tags without
            a space before the <kbd>/</kbd> like <kbd>&lt;br/&gt;</kbd> instead of <kbd>&lt;br /&gt;</kbd>&mdash;. 
            We will convert this application to <b>HTML5</b>.</li>
        <li>JSPs include both JSTL and Spring-specific tags. None of which are understandable 
            by browsers, so there is no way for it to represent the pages statically (no static 
            prototyping possible).</li>
        <li>JSTL tags use the JSP EL (Expression Language), whereas the tags from the JSP Spring taglibs
            use Spring EL. Two different expression languages are therefore mixed in the same pages.</li>
        <li>The original JSP templates are not complete or well-formed HTML documents. For example, 
            the <i>"show owners"</i> page is broken down into three fragments:
            <ol> 
                <li>A <kbd>header.jsp</kbd> file with unclosed <kbd>&lt;body&gt;</kbd> and <kbd>&lt;div&gt;</kbd> tags,</li>
                <li>A <kbd>show.jsp</kbd> file which does not have any <kbd>&lt;head&gt;</kbd> nor <kbd>&lt;body&gt;</kbd> 
                    tags &mdash;they come from the included <kbd>header</kbd>&mdash;, 
                    and defines the content of the <i>"show owners"</i> page.</li>
                <li>A <kbd>footer.jsp</kbd> file with closing <kbd>&lt;/div&gt;</kbd> and <kbd>&lt;/body&gt;</kbd> tags corresponding
                    to the ones opened at <kbd>header</kbd>.</li>
            </ol>
        </li>
        <li>Some JSP pages &mdash;for exception handling, for example&mdash; include java code scriptlets, 
            which is not a good practice.</li>
    </ul>         
        
        
    <h2>Configuration</h2>

    <h3>Basic project configuration</h3>
    
    <p>
      Some basic configuration steps will be needed:
    </p>
    
    <ul>
      <li>The <kbd>pom.xml</kbd> file will be modified in order to add the Thymeleaf dependencies to it and remove the 
          JSP-related ones.</li>
      <li>The original <kbd>web.xml</kbd> file will also be modified in order to remove the declaration of a <kbd>default</kbd>
          servlet depending on a specific Tomcat class for serving static resources &mdash;images, css, etc&mdash;.
          Instead, the much cleaner <kbd>&lt;mvc:resources/&gt;</kbd> mechanism will be used at
          our <kbd>petclinic-servlet.xml</kbd> Spring bean configuration file:</li>
    </ul>
    
            <code>
<span class="comment">&lt;!--
<br />
&nbsp;&nbsp;-&nbsp;Static&nbsp;resources
<br />
--&gt;</span>
<br />
&lt;<b>mvc:resources</b>&nbsp;location=<span class="string">&quot;/&quot;</span>&nbsp;mapping=<span class="string">&quot;/static/**&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
<span class="comment">&lt;!--
<br />
&nbsp;&nbsp;-&nbsp;The&nbsp;controllers&nbsp;are&nbsp;autodetected&nbsp;POJOs&nbsp;labeled&nbsp;with&nbsp;the&nbsp;@Controller&nbsp;annotation.
<br />
--&gt;</span>
<br />
&lt;<b>mvc:annotation-driven</b>&nbsp;/&gt;
<br />
&lt;<b>context:component-scan</b>&nbsp;base-package=<span class="string">&quot;org.springframework.samples.petclinic.web&quot;</span>/&gt;
<br />
            </code>    

    
    <h3>petclinic-servlet.xml</h3>
    
	<h4>Adding the Thymeleaf Spring beans</h4>
	
    <p>
      Our next configuration step will be to add three required beans at the Spring beans configuration file,
      <kbd>petclinic-servlet.xml</kbd>:
    </p>
    <ul>
      <li>The Thymeleaf <i>template resolver</i> that will be in charge of reading the 
          template files to be processed. For this application we will use a <kbd>ServletContextTemplateResolver</kbd>.</li>
      <li>The Thymeleaf <i>template engine</i> instance, of class <kbd>SpringTemplateEngine</kbd>.</li>
      <li>The Thymeleaf <i>view resolver</i>, a <kbd>ThymeleafViewResolver</kbd> instance implementing Spring's 
          <kbd>org.springframework.web.servlet.ViewResolver</kbd> interface. This bean will substitute the
          original <kbd>InternalResourceViewResolver</kbd> bean which enabled JSP support in the original application.</li>
    </ul>
        
            <code>

&lt;<b>bean</b>&nbsp;id=<span class="string">&quot;templateResolver&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;org.thymeleaf.templateresolver.ServletContextTemplateResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;prefix&quot;</span>&nbsp;value=<span class="string">&quot;/WEB-INF/thymeleaf/&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;suffix&quot;</span>&nbsp;value=<span class="string">&quot;.html&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateMode&quot;</span>&nbsp;value=<span class="string">&quot;HTML5&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;order&quot;</span>&nbsp;value=<span class="string">&quot;2&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;cacheable&quot;</span>&nbsp;value=<span class="string">&quot;false&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;
<br />
&lt;<b>bean</b>&nbsp;id=<span class="string">&quot;templateEngine&quot;</span>&nbsp;class=<span class="string">&quot;org.thymeleaf.spring3.SpringTemplateEngine&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateResolver&quot;</span>&nbsp;ref=<span class="string">&quot;templateResolver&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;
<br />
&lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.thymeleaf.spring3.view.ThymeleafViewResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateEngine&quot;</span>&nbsp;ref=<span class="string">&quot;templateEngine&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
        
        </code>
    
        <p>Note that, as a difference from the original application, our templates will live at the 
           <kbd>/WEB-INF/thymeleaf</kbd> folder instead of the original <kbd>/WEB-INF/jsp</kbd>.</p>


		   
		<h4>Handling uncaught exceptions through Spring</h4>
		
        <p>
		  The original application handles some types of exceptions through Spring, declaring a 
		  <kbd>SimpleMappingExceptionResolver</kbd> bean:
        </p>
		
    <code>
    
    &lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.springframework.web.servlet.handler.SimpleMappingExceptionResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;exceptionMappings&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.web.servlet.PageNotFound&quot;</span>&gt;pageNotFound&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.dao.DataAccessException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.transaction.TransactionException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/property</b>&gt;
<br />
    &lt;<b>/bean</b>&gt;
<br />
    
    </code>
		
		<p>
		  The problem is, this does not include every type of exception possible and,
		  for all the remaining exceptions, an ugly JSP file called <kbd>uncaughtException.jsp</kbd> is
          originally configured at <kbd>web.xml</kbd> (the reason why we call this one <i>"ugly"</i> will be explained later):
		</p>
		
        <code>

          &lt;<b>error-page</b>&gt;
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>exception-type</b>&gt;java.lang.Exception&lt;<b>/exception-type</b>&gt;
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">&lt;!--&nbsp;Displays&nbsp;a&nbsp;stack&nbsp;trace&nbsp;--&gt;</span>
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>location</b>&gt;/WEB-INF/jsp/uncaughtException.jsp&lt;<b>/location</b>&gt;
          <br />
          &lt;<b>/error-page</b>&gt;
          <br />

        </code>
		
		<p>
		  As we want to implement this <i>uncaught exception</i> page using Thymeleaf, we will need our exception handling
		  for these exceptions to go through Spring and not let our web server directly execute our template 
		  &mdash;only JSPs are directly understood by Java web servers&mdash;.
		  So we will remove the code above from <kbd>web.xml</kbd> and we will modify the exception handling
		  bean declaration at <kbd>petclinic-servlet.xml</kbd>:
        </p>
        
    <code>
    &lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.springframework.web.servlet.handler.SimpleMappingExceptionResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;exceptionMappings&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.web.servlet.PageNotFound&quot;</span>&gt;pageNotFound&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.dao.DataAccessException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.transaction.TransactionException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/property</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;defaultErrorView&quot;</span>&nbsp;value=<span class="string">&quot;uncaughtException&quot;</span>&gt;&lt;<b>/property</b>&gt;
<br />
    &lt;<b>/bean</b>&gt;
<br />
    
    </code>
     
        
        
        
    <h2>From JSP to Thymeleaf</h2>
    
    <p>
      PetClinic includes more than 10 JSP XHTML templates, and we will rewrite all of them using Thymeleaf and HTML5.
      However, for the sake of brevity, we will only inspect two of them in detail in this article:
    </p>
    
    <ul>
        <li><kbd>owners/list.jsp</kbd> &#187; <kbd>owners/list.html</kbd></li>
        <li><kbd>uncaughtException.jsp</kbd> &#187; <kbd>uncaughtException.html</kbd></li>
    </ul>
        
    <p>
      Remember you can see all the templates at the source code, downloadable from 
      <a href="documentation.html">the documentation page</a>, and also that you can review the original
      JSP files at the <kbd>doc/old_jsps</kbd> folder.
    </p>
       

     
    <h3>owners/list.jsp</h3>
    
         
    <p>
      This page shows the list of veterinarians that match the last name we introduced in a previous 
      page (<kbd>search.jsp</kbd>):
    </p>
    
    <img src="images/thymeleafpetclinic_owners.png" alt="Owners page"/> 

    
    <p>In order to convert this page to Thymeleaf, we will:</p>
    <ul>
        <li>Rename <kbd>list.jsp</kbd> to <kbd>list.html</kbd>.</li>
        <li>Remove all <kbd>&lt;%@ include %&gt;</kbd> directives as we do not need any JSP tag libraries and the <i>header</i> 
        and <i>footer</i> pieces of HTML will be added to the page by means of a <kbd>th:substituteby</kbd> 
        attribute. Original <kbd>header.jsp</kbd> and <kbd>footer.jsp</kbd> files have been merged into a single <kbd>layout.html</kbd> file,
        now containing both fragments.
        
                <code>
<span class="comment">&lt;!--&nbsp;list.jsp&nbsp;--&gt;</span>
<br />
&lt;<b>%@</b>&nbsp;include&nbsp;file=<span class="string">&quot;/WEB-INF/jsp/includes.jsp&quot;</span>&nbsp;%&gt;
<br />
&lt;<b>%@</b>&nbsp;include&nbsp;file=<span class="string">&quot;/WEB-INF/jsp/header.jsp&quot;</span>&nbsp;%&gt;
                    
                </code>
                <code>

<span class="comment">&lt;!--&nbsp;list.html&nbsp;--&gt;</span>
<br />
&lt;<b>!DOCTYPE</b>&nbsp;html&gt;
<br />
&lt;<b>html</b>&nbsp;xmlns:th=<span class="string">&quot;http://www.thymeleaf.org&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>head</b>&nbsp;th:substituteby=<span class="string">&quot;layout&nbsp;::&nbsp;header&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>meta</b>&nbsp;http-equiv=<span class="string">&quot;Content-Type&quot;</span>&nbsp;content=<span class="string">&quot;text/html;&nbsp;charset=UTF-8&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>link</b>&nbsp;rel=<span class="string">&quot;stylesheet&quot;</span>&nbsp;href=<span class="string">&quot;../../../styles/petclinic.css&quot;</span>&nbsp;type=<span class="string">&quot;text/css&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>title</b>&gt;PetClinic&nbsp;::&nbsp;a&nbsp;Spring&nbsp;Framework&nbsp;demonstration&lt;<b>/title</b>&gt;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/head</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>body</b>&gt;
<br />
            
                </code>
                
                Note how <kbd>list.html</kbd> contains more code at its <kbd>&lt;head&gt;</kbd> section than the original JSP file, which
                in fact does not have one as it is included from <kbd>header.jsp</kbd>. But doing it this way
                is merely optional, and its only aim is to allow the <kbd>list.html</kbd> Thymeleaf template to display statically as a prototype (something 
                nearly impossible with JSP). The <kbd>&lt;head&gt;</kbd> tag in <kbd>list.html</kbd> will in fact be substituted by the <kbd>header</kbd>
                fragment in <kbd>layout.html</kbd> when executed by means of the <kbd>th:substituteby</kbd> attribute seen above.
        </li>
        <li>
            Change the page body. The original code looks like this:

<code>


<span class="comment">&lt;!--&nbsp;list.jsp&nbsp;--&gt;</span>
<br />
&lt;<b>table</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>thead</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Name&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Address&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;City&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Telephone&lt;<b>/th</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Pets&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>/thead</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>c:forEach</b>&nbsp;var=<span class="string">&quot;owner&quot;</span>&nbsp;items=<span class="string">&quot;${selections}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>spring:url</b>&nbsp;value=<span class="string">&quot;owners/{ownerId}&quot;</span>&nbsp;var=<span class="string">&quot;ownerUrl&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>spring:param</b>&nbsp;name=<span class="string">&quot;ownerId&quot;</span>&nbsp;value=<span class="string">&quot;${owner.id}&quot;</span>/&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/spring:url</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>a</b>&nbsp;href=<span class="string">&quot;${fn:escapeXml(ownerUrl)}&quot;</span>&gt;${owner.firstName}&nbsp;${owner.lastName}&lt;<b>/a</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;${owner.address}&lt;<b>/td</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;${owner.city}&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;${owner.telephone}&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>c:forEach</b>&nbsp;var=<span class="string">&quot;pet&quot;</span>&nbsp;items=<span class="string">&quot;${owner.pets}&quot;</span>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${pet.name}&nbsp;&amp;nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/c:forEach</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>/c:forEach</b>&gt;
<br />
&lt;<b>/table</b>&gt;

<br />


</code>

Which we will replace with:

<code>


<span class="comment">&lt;!--&nbsp;list.html&nbsp;file&nbsp;--&gt;</span>
<br />
&lt;<b>table</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>thead</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Name&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Address&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;City&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Telephone&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Pets&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/thead</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&nbsp;th:each=<span class="string">&quot;owner&nbsp;:&nbsp;${selections}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>a</b>&nbsp;th:href=<span class="string">&quot;@{&#39;/owners/&#39;&nbsp;+&nbsp;${owner.id}}&quot;</span>&nbsp;href=<span class="string">&quot;show.html&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:text=<span class="string">&quot;${owner.firstName&nbsp;+&nbsp;owner.lastName}&quot;</span>&gt;Mary&nbsp;Smith&lt;<b>/a</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.address}&quot;</span>&gt;45,&nbsp;Oxford&nbsp;Street&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.city}&quot;</span>&gt;Cambridge&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.telephone}&quot;</span>&gt;555-555-555&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>span</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:each=<span class="string">&quot;pet&nbsp;:&nbsp;${owner.pets}&quot;</span>&nbsp;th:utext=<span class="string">&quot;${pet.name&nbsp;+&nbsp;&#39;&amp;nbsp;&#39;}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bob
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/span</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&nbsp;th:remove=<span class="string">&quot;all&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;&lt;<b>a</b>&nbsp;href=<span class="string">&quot;show.html&quot;</span>&gt;John&nbsp;Moore&lt;<b>/a</b>&gt;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;78,&nbsp;NY&nbsp;Street&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;Washington&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;333-333-333&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>span</b>&gt;Roger&lt;<b>/span</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&amp;nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>span</b>&gt;Peggy&lt;<b>/span</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&lt;<b>/table</b>&gt;
<br />

</code>

              In the code above you can see how, for example, we replaced the use of the <kbd>c:foreach</kbd> tag with 
              a <kbd>th:each</kbd> attribute in a <kbd>&lt;tr&gt;</kbd> tag.
              Also, our Thymeleaf version is longer because we have added some prototyping code (an additional
              row in the table) just to be displayed when 
              the page is statically open. So we use the <kbd>th:remove</kbd> attribute
              to avoid this prototyping code being rendered when deployed into a server.
        </li>
    </ul>

     
    <h3>uncaughtException</h3>     


    <p>
      This is the page the user will be redirected to when an unexpected exception arises. The JSP version of this page is not as 
      the others, as instead of JSP tags it contains <i>scriptlets with java code</i> (yes...that's why we called it <i>ugly</i> 
      before). So, in order to create the Thymeleaf version of that page, we have to replace all that java code with 
      plain HTML with Thymeleaf attributes in it that work exactly as the original code.
    </p>
    <img src="images/thymeleafpetclinic_uncaughtexception.png" alt="Uncaught Exception page"/>
    
    
    
    <code>
<span class="comment">&lt;!--&nbsp;uncaughtException.jsp&nbsp;--&gt;</span>
<br />
&lt;<b>h2/</b>&gt;Internal&nbsp;error&lt;<b>/h2</b>&gt;
<br />
&lt;<b>p/</b>&gt;
<br />

<br />
&lt;<b>%</b>&nbsp;
<br />



<b>try</b>&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">//&nbsp;The&nbsp;Servlet&nbsp;spec&nbsp;guarantees&nbsp;this&nbsp;attribute&nbsp;will&nbsp;be&nbsp;available
</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;Throwable&nbsp;exception&nbsp;=&nbsp;(Throwable)&nbsp;request.getAttribute(<span class="string">&quot;javax.servlet.error.exception&quot;</span>);&nbsp;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>if</b>&nbsp;(exception&nbsp;!=&nbsp;<b>null</b>)&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>if</b>&nbsp;(exception&nbsp;<b>instanceof</b>&nbsp;ServletException)&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">//&nbsp;It&#39;s&nbsp;a&nbsp;ServletException:&nbsp;we&nbsp;should&nbsp;extract&nbsp;the&nbsp;root&nbsp;cause
</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ServletException&nbsp;sex&nbsp;=&nbsp;(ServletException)&nbsp;exception;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Throwable&nbsp;rootCause&nbsp;=&nbsp;sex.getRootCause();
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>if</b>&nbsp;(rootCause&nbsp;==&nbsp;<b>null</b>)
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rootCause&nbsp;=&nbsp;sex;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out.println(<span class="string">&quot;**&nbsp;Root&nbsp;cause&nbsp;is:&nbsp;&quot;</span>+&nbsp;rootCause.getMessage());
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rootCause.printStackTrace(<b>new</b>&nbsp;java.io.PrintWriter(out));&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>else</b>&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">//&nbsp;It&#39;s&nbsp;not&nbsp;a&nbsp;ServletException,&nbsp;so&nbsp;we&#39;ll&nbsp;just&nbsp;show&nbsp;it
</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;exception.printStackTrace(<b>new</b>&nbsp;java.io.PrintWriter(out));&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
<br />
&nbsp;&nbsp;&nbsp;&nbsp;}&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>else</b>&nbsp;&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out.println(<span class="string">&quot;No&nbsp;error&nbsp;information&nbsp;available&quot;</span>);
<br />
&nbsp;&nbsp;&nbsp;&nbsp;}&nbsp;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">//&nbsp;Display&nbsp;cookies
</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;out.println(<span class="string">&quot;\nCookies:\n&quot;</span>);
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Cookie[]&nbsp;cookies&nbsp;=&nbsp;request.getCookies();
<br />
&nbsp;&nbsp;&nbsp;&nbsp;<b>if</b>&nbsp;(cookies&nbsp;!=&nbsp;null)&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>for</b>&nbsp;(<b>int</b>&nbsp;i&nbsp;=&nbsp;0;&nbsp;i&nbsp;&lt;&nbsp;cookies.length;&nbsp;i++)&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out.println(cookies[i].getName()&nbsp;+&nbsp;<span class="string">&quot;=[&quot;</span>&nbsp;+&nbsp;cookies[i].getValue()&nbsp;+&nbsp;<span class="string">&quot;]&quot;</span>);
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
<br />
&nbsp;&nbsp;&nbsp;&nbsp;}
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
}&nbsp;<b>catch</b>&nbsp;(Exception&nbsp;ex)&nbsp;{&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;ex.printStackTrace(<b>new</b>&nbsp;java.io.PrintWriter(out));
<br />
}
<br />


<br />
<b>%</b>&gt;
<br />

<br />
&lt;<b>p/</b>&gt;
<br />
&lt;<b>br/</b>&gt;
<br />

</code>


    <p>
      Once converted to Thymeleaf, it looks much better:
    </p> 





<code>

<span class="comment">&lt;!--&nbsp;uncaughtException.html&nbsp;--&gt;</span>
<br />

&lt;<b>div</b>&nbsp;id=<span class="string">&quot;main&quot;</span>&nbsp;th:with=<span class="string">&quot;exception&nbsp;&nbsp;&nbsp;=&nbsp;${#httpServletRequest.getAttribute(&#39;javax.servlet.error.exception&#39;)},
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;${exception.class},
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stacktrace&nbsp;&nbsp;=&nbsp;${exception.stackTrace},
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cookies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;${#httpServletRequest.cookies}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>h2</b>&gt;Internal&nbsp;error&lt;<b>/h2</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:if=<span class="string">&quot;${exception&nbsp;!=&nbsp;null}&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:if=<span class="string">&quot;${exception&nbsp;instanceof&nbsp;T(javax.servlet.ServletException)}&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:object=<span class="string">&quot;${exception.rootCause}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:utext=<span class="string">&quot;*{&#39;**&nbsp;Root&nbsp;cause&nbsp;is:&nbsp;&#39;&nbsp;+&nbsp;message&nbsp;+&nbsp;&#39;&amp;lt;br/&amp;gt;&#39;}&quot;</span>&gt;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:each=<span class="string">&quot;st&nbsp;:&nbsp;*{stackTrace}&quot;</span>&nbsp;th:text=<span class="string">&quot;${st}&quot;</span>&gt;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:unless=<span class="string">&quot;${exception&nbsp;instanceof&nbsp;T(javax.servlet.ServletException)}&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:utext=<span class="string">&quot;${exception.class&nbsp;+&nbsp;&#39;:&nbsp;&#39;&nbsp;+&nbsp;exception.message&nbsp;+&nbsp;&#39;&amp;lt;br/&amp;gt;&#39;}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NullPointerException:&nbsp;null
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:utext=<span class="string">&quot;${&#39;at&nbsp;&#39;+&nbsp;st&nbsp;+&nbsp;&#39;&amp;lt;br/&amp;gt;&#39;}&quot;</span>&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:each=<span class="string">&quot;st&nbsp;:&nbsp;${stackTrace}&quot;</span>&nbsp;&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at&nbsp;a.b.c.MainController
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>p</b>&nbsp;th:if=<span class="string">&quot;${exception&nbsp;==&nbsp;null}&quot;</span>&nbsp;th:text=<span class="string">&quot;&#39;No&nbsp;error&nbsp;information&nbsp;available&#39;&quot;</span>&gt;&lt;<b>/p</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>br/</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Cookies:
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>br/</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>p</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:each=<span class="string">&quot;c&nbsp;:&nbsp;${cookies}&quot;</span>&nbsp;th:text=<span class="string">&quot;${c.name&nbsp;+&nbsp;&#39;=[&#39;&nbsp;+&nbsp;c.value&nbsp;+&nbsp;&#39;]&#39;}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;user&nbsp;=[anonymous]
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/p</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>br/</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>table</b>&nbsp;th:substituteby=<span class="string">&quot;layout&nbsp;::&nbsp;footer&quot;</span>&nbsp;class=<span class="string">&quot;footer&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;&lt;<b>a</b>&nbsp;href=<span class="string">&quot;welcome.html&quot;</span>&gt;Home&lt;<b>/a</b>&gt;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;align=<span class="string">&quot;right&quot;</span>&gt;&lt;<b>img</b>&nbsp;src=<span class="string">&quot;../../images/springsource-logo.png&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alt=<span class="string">&quot;Sponsored&nbsp;by&nbsp;SpringSource&quot;</span>&gt;&lt;<b>/img</b>&gt;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/table</b>&gt;
<br />
&lt;<b>/div</b>&gt;
<br />

</code>


       <p>
         A couple of things to note: first, that the original page almost had no format at all, so we did add it here &mdash;just a couple of <kbd>&lt;p&gt;</kbd>s
         and <kbd>&lt;div&gt;</kbd>s&mdash;. Second, that we made an intelligent use of the <kbd>th:with</kbd> attribute in order to define several variables 
         that would be used several times along the template.
       </p>
       <p>
         Also note how we access the <kbd>HttpServletRequest</kbd> object with <kbd>#httpServletRequest</kbd> in our Spring EL expressions.
       </p>


     <h2>HTML5-specific elements</h2>
     
     <p>
       As we mentioned previously, using Thymeleaf would allow us to add some HTML5 advanced features, like for example using the new form input types.
     </p>
     <p>
       The <kbd>pets/form.html</kbd> template offers us an opportunity to do so, as it includes a form
       input element for a date:
     </p>         
     
     <code>
&lt;<b>input</b>&nbsp;type=<span class="string">&quot;date&quot;</span>&nbsp;th:field=<span class="string">&quot;*{birthDate}&quot;</span>&nbsp;/&gt;      
     </code>

     <p>
       ...which behaves wonderfully when displayed at a browser with good HTML5 support (Opera, in this case):
     </p>

     <img src="images/thymeleafpetclinic_petsform_date.png" alt="An HTML5 date input"/>

     <h2>And what about the <i>Natural Templating</i> thing?</h2>    

     <p>
       We also mentioned that our new Thymeleaf templates would be able to display correctly when opened
       statically in a browser because of the <i>Natural Templating</i> capabilities of Thymeleaf. Well,
       let's have a look at how the original <kbd>owners/list.jsp</kbd> template looked like when seen
       statically:
     </p> 
     
     <img src="images/thymeleafpetclinic_ownerslist_jsp_static.png" alt="Owners list (JSP), statically opened"/>
     
     <p>
       ...and now let's have a look at our new Thymeleaf-powered <kbd>owners/list.html</kbd>:
     </p>
     
     <img src="images/thymeleafpetclinic_ownerslist_thymeleaf_static.png" alt="Owners list (thymeleaf), statically opened"/>
     
     <p>
       There we are. Data is not valid, because it is a prototype. But it looks good!
     </p>

   </div>
   
   
   <div id="footer">
     <div id="googleplus">
       <div id="plusone-div" class="plusone"></div>
       <script type="text/javascript">
           gapi.plusone.render('plusone-div',{"size": "small", "count": "true", "href": "http://www.thymeleaf.org"});
       </script>
     </div>
     <div id="twitter">
       <a href="http://twitter.com/thymeleaf" class="twitter-follow-button" data-show-count="false">Follow @thymeleaf</a>
       <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
     </div>
     <div id="sourceforge">
       <a href="http://sourceforge.net/projects/thymeleaf"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=509826&amp;type=9" width="80" height="15" alt="Get thymeleaf at SourceForge.net. Fast, secure and Free Open Source software downloads" /></a>
     </div>
     <div id="copy">
       Copyright &copy; The <a href="team.html">THYMELEAF Team</a>. See <a href="documentation.html">applicable licenses</a>.
     </div>
   </div>
   
   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1276954-9']);
     _gaq.push(['_trackPageview']);

     (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

   </script>
   
  </div>
  </body>
  
</html>