<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bringing Thymeleaf and Natural Templates to the Spring PetClinic - Thymeleaf: java XML/XHTML/HTML5 template engine</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/thymeleaf.css" />
    <link rel="shortcut icon" href="http://www.thymeleaf.org/favicon.ico" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang:'en', parsetags:'explicit'}
    </script>
    
    <style type="text/css">
        /* ---------------------- */
        /* PETCLINIC IMAGES       */
        /* ---------------------- */
        #content img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1276954-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
  </head>


  <body lang="en" dir="ltr">

  <div id="page">

  
   <div id="menu">
     <ul>
       <li><a href="index.html" title="Home">Home</a></li>
       <li><a href="features.html" title="Features">Features</a></li>
       <li><a href="download.html" title="Download">Download</a></li>
       <li><a href="documentation.html" title="Documentation">Documentation</a></li>
       <li><a href="ecosystem.html" title="Ecosystem">Ecosystem</a></li>
       <li><a href="http://forum.thymeleaf.org" title="User Forum">User Forum</a></li>
       <li><a href="issuetracking.html" title="Issue Tracking">Issue Tracking</a></li>
     </ul>
   </div>

   <div id="header">
     <a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a>
   </div>

   <div id="breadcrumb">
      <a href="index.html">thymeleaf</a>
      ::
      <a href="documentation.html">documentation</a> 
      :: 
      articles
      ::
      <span class="current">bringing thymeleaf and natural templates to the spring petclinic</span>
   </div>


   <div id="content">

     <h1>Bringing Thymeleaf and Natural Templates to the Spring PetClinic</h1>

     <p id="author">
       <i>By Soraya S&aacute;nchez &lt;sschz AT users.sourceforge.net&gt;</i>
     </p>


    <p>
      <b>Note</b>: The Spring PetClinic application received a major update from SpringSource in March 2013,
      and the <i>thymeleafexamples-petclinic</i> application has been updated consequently, along with
      this article.
    </p>


    <h2>The Spring PetClinic application</h2>
    
    
    <p><i>PetClinic</i> is one of the example applications created by SpringSource for
       the Spring Framework. It is designed to display and manage information 
       related to pets and veterinarians in a pet clinic. The original SpringSource
       version lives in GitHub
       <a href="https://github.com/SpringSource/spring-petclinic">here</a>, and
       the thymeleaf-enabled version lives also in GitHub 
       <a href="https://github.com/thymeleaf/thymeleafexamples-petclinic">here</a>.</p>
    
    <img src="images/thymeleafpetclinic_home.png" alt="PetClinic home page"/>
    
    <p><i>Pet Clinic</i> originally includes a view layer created with JSP, which we will replace using Thymeleaf:</p>
    
    <ul>
        <li>Modifications will be focused on the view layer: the JSP files will be replaced
            and the application will be reconfigured. All Java code will be left untouched.</li>
        <li>The original markup will be cleaned, but all the application's interface will have 
            to display exactly the same as the original.</li>
        <li>No CSS stylesheet files will be changed. No JavaScript libraries will be added, modified or upgraded.</li>
        <li>Thymeleaf template files should display OK when opened statically on a browser (<i>Natural templates</i>).</li>
    </ul>
    
    <p>
      All the code of the PetClinic+Thymeleaf application can be obtained at the 
      <a href="documentation.html">Thymeleaf Project's Documentation</a> page. Note that the original JSP files and JSP tags
      have not been removed from the source tree but rather moved to the <kbd>doc/old_viewlayer</kbd> folder at the source tree,
      so that you can still access them in order to compare with the new templates.
    </p>
    
    <p>
      The version of the PetClinic application used as a base is the state of its <i>master branch at Github</i> as of 17 March 2013.
    </p>
    
    
    <h3>The original JSP view layer</h3>
    
    <p>The original JSP view layer has a number of problems we will try to fix when converting the view layer
       to Thymeleaf:</p>
    <ul>
        <li>The JSP templates seem to define an XHTML interface, although no <kbd>DOCTYPE</kbd> declaration
            is applied and several minor format errors appear &mdash;like e.g. minimized tags without
            a space before the <kbd>/</kbd> like <kbd>&lt;br/&gt;</kbd> instead of <kbd>&lt;br /&gt;</kbd>&mdash;. 
            We will clean this code and use <b>HTML5</b>.</li>
        <li>JSPs include tags from JSTL, Spring Tag Libs and other external libraries. None of these are understandable 
            by browsers, so there is no way for them to display the pages statically (no static 
            prototyping possible).</li>
        <li>JSTL tags use the JSP EL (Expression Language), whereas the tags from the JSP Spring taglibs
            use Spring EL. Two different expression languages are therefore mixed in the same pages.</li>
        <li>The original JSP templates are not well-formed HTML documents. For example, 
            the <i>"ownersList"</i> page:
            <ol> 
                <li>Does not contain a head tag, adding insteadone from another JSP using a <i>JSP include</i> 
                (=> not understandable by browsers).</li>
                <li>Header and footer contents have been replaced by JSP include tags (=> not understandable by browsers) 
                so the pages can't be displayed statically including their header and footer. And anyway, even if those contents
                were in the page, as pages contain JSP and JSTL tags, we wouldn't be able to see a real prototype.</li>
            </ol>
        </li>
    </ul>         
        
        
    <h2>Configuration</h2>

    <h3>Basic project configuration</h3>
    
    <p>
      Some basic configuration steps will be needed:
    </p>
    
    <ul>
      <li>The <kbd>pom.xml</kbd> file will be modified in order to add the Thymeleaf dependencies to it and remove the 
          JSP-related ones.</li>
      <li>The <kbd>web.xml</kbd> file will be modified in order to remove JSP-related servlets and filters.</li>
    </ul>
    

    <h3>mvc-view-config.xml</h3>
	
    <p>
      Our next configuration step will be to add three required beans at the Spring beans configuration file,
      <kbd>mvc-view-config.xml</kbd>:
    </p>
    <ul>
      <li>The Thymeleaf <i>template resolver</i> that will be in charge of reading the 
          template files to be processed. For this application we will use a <kbd>ServletContextTemplateResolver</kbd>.</li>
      <li>The Thymeleaf <i>template engine</i> instance, of class <kbd>SpringTemplateEngine</kbd>.</li>
      <li>The Thymeleaf <i>view resolver</i>, a <kbd>ThymeleafViewResolver</kbd> instance implementing Spring's 
          <kbd>org.springframework.web.servlet.ViewResolver</kbd> interface. This bean will substitute the
          original <kbd>InternalResourceViewResolver</kbd> bean which enabled JSP support in the original application.</li>
    </ul>
        
<code>


&lt;<b>bean</b>&nbsp;id=<span class="string">&quot;templateResolver&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;org.thymeleaf.templateresolver.ServletContextTemplateResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;prefix&quot;</span>&nbsp;value=<span class="string">&quot;/WEB-INF/thymeleaf/&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;suffix&quot;</span>&nbsp;value=<span class="string">&quot;.html&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateMode&quot;</span>&nbsp;value=<span class="string">&quot;HTML5&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;Template&nbsp;cache&nbsp;is&nbsp;set&nbsp;to&nbsp;false&nbsp;(default&nbsp;is&nbsp;true).&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;cacheable&quot;</span>&nbsp;value=<span class="string">&quot;false&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;
<br />

<br />
&lt;<b>bean</b>&nbsp;id=<span class="string">&quot;templateEngine&quot;</span>&nbsp;class=<span class="string">&quot;org.thymeleaf.spring3.SpringTemplateEngine&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateResolver&quot;</span>&nbsp;ref=<span class="string">&quot;templateResolver&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.springframework.web.servlet.view.ContentNegotiatingViewResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;contentNegotiationManager&quot;</span>&nbsp;ref=<span class="string">&quot;cnManager&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;viewResolvers&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>list</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;Used&nbsp;here&nbsp;for&nbsp;&#39;xml&#39;&nbsp;and&nbsp;&#39;atom&#39;&nbsp;views&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.springframework.web.servlet.view.BeanNameViewResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;order&quot;</span>&nbsp;value=<span class="string">&quot;1&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/bean</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;Used&nbsp;for&nbsp;Thymeleaf&nbsp;views&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.thymeleaf.spring3.view.ThymeleafViewResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateEngine&quot;</span>&nbsp;ref=<span class="string">&quot;templateEngine&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;order&quot;</span>&nbsp;value=<span class="string">&quot;2&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/bean</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/list</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/property</b>&gt;
<br />
&lt;<b>/bean</b>&gt;
<br />


</code>
    
        <p>Note that, as a difference from the original application, our templates will live at the 
           <kbd>/WEB-INF/thymeleaf</kbd> folder instead of the original <kbd>/WEB-INF/jsp</kbd>.</p>

        
        
        
    <h2>From JSP to Thymeleaf</h2>
    
    <p>
      PetClinic includes more than 10 JSP templates, and we will rewrite all of them using Thymeleaf.
      However, for the sake of brevity, we will focus on <kbd>owners/ownerslist.jsp</kbd>, which we will 
      convert into <kbd>owners/ownersList.html</kbd>.
    </p>
        
    <p>
      Remember you can see all the templates at the source code, downloadable from 
      <a href="documentation.html">the documentation page</a>, and also that you can review the original
      JSP files at the <kbd>doc/old_viewlayer</kbd> folder.
    </p>
    
         
    <p>
      The <i>owners/ownersList</i> page looks like this:
    </p>
    
    <img src="images/thymeleafpetclinic_owners.png" alt="Owners page"/> 

    
    <p>In order to convert this page to Thymeleaf, we will:</p>
    <ul>
        <li>Rename <kbd>ownersList.jsp</kbd> to <kbd>ownersList.html</kbd>.</li>
        <li>Remove all <kbd>&lt;%@ taglib %&gt;</kbd> directives as we do not need any JSP tag libraries</li>
        <li>Replace the <kbd>jsp:include</kbd> tags which add head, header and footer to the page with tags containing 
        the thymeleaf attributes <kbd>th:substituteby</kbd> or <kbd>th:include</kbd>. Those page fragments 
        have been kept in the <kbd>fragments</kbd> folder and converted to thymeleaf as well</li>
     </ul>
        
                <code>
<span class="comment">&lt;!--&nbsp;ownersList.jsp&nbsp;--&gt;</span>
<br />
&lt;<b>%@</b>&nbsp;taglib&nbsp;prefix=<span class="string">&quot;spring&quot;</span>&nbsp;uri=<span class="string">&quot;http://www.springframework.org/tags&quot;</span>&nbsp;%&gt;
<br />
&lt;<b>%@</b>&nbsp;taglib&nbsp;prefix=<span class="string">&quot;fmt&quot;</span>&nbsp;uri=<span class="string">&quot;http://java.sun.com/jsp/jstl/fmt&quot;</span>&nbsp;%&gt;
<br />
&lt;<b>%@</b>&nbsp;taglib&nbsp;prefix=<span class="string">&quot;c&quot;</span>&nbsp;uri=<span class="string">&quot;http://java.sun.com/jsp/jstl/core&quot;</span>&nbsp;%&gt;
<br />
&lt;<b>%@</b>&nbsp;taglib&nbsp;prefix=<span class="string">&quot;fn&quot;</span>&nbsp;uri=<span class="string">&quot;http://java.sun.com/jsp/jstl/functions&quot;</span>&nbsp;%&gt;
<br />
&lt;<b>%@</b>&nbsp;taglib&nbsp;prefix=<span class="string">&quot;datatables&quot;</span>&nbsp;uri=<span class="string">&quot;http://github.com/dandelion/datatables&quot;</span>&nbsp;%&gt;
<br />

<br />
&lt;<b>html</b>&nbsp;lang=<span class="string">&quot;en&quot;</span>&gt;
<br />

<br />
&lt;<b>jsp:include</b>&nbsp;page=<span class="string">&quot;../fragments/headTag.jsp&quot;</span>/&gt;
<br />

<br />
&lt;<b>body</b>&gt;
<br />
&lt;<b>div</b>&nbsp;class=<span class="string">&quot;container&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>jsp:include</b>&nbsp;page=<span class="string">&quot;../fragments/bodyHeader.jsp&quot;</span>/&gt;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;...&nbsp;--&gt;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>jsp:include</b>&nbsp;page=<span class="string">&quot;../fragments/footer.jsp&quot;</span>/&gt;
<br />

<br />
&lt;<b>/div</b>&gt;
<br />
&lt;<b>/body</b>&gt;
<br />

<br />
&lt;<b>/html</b>&gt;
<br />


</code>                <code>

<span class="comment">&lt;!--&nbsp;ownersList.html&nbsp;--&gt;</span>
<br />

&lt;<b>!DOCTYPE</b>&nbsp;html&gt;
<br />

<br />
&lt;<b>html</b>&nbsp;lang=<span class="string">&quot;en&quot;</span>&gt;
<br />

<br />
&lt;<b>head</b>&nbsp;th:substituteby=<span class="string">&quot;fragments/headTag&nbsp;::&nbsp;headTag&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;============================================================================&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;This&nbsp;&lt;<b>head</b>&gt;&nbsp;is&nbsp;only&nbsp;used&nbsp;for&nbsp;static&nbsp;prototyping&nbsp;purposes&nbsp;(natural&nbsp;templates)&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;and&nbsp;is&nbsp;therefore&nbsp;entirely&nbsp;optionl,&nbsp;as&nbsp;this&nbsp;markup&nbsp;fragment&nbsp;will&nbsp;be&nbsp;included&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;from&nbsp;<span class="string">&quot;fragments.html&quot;</span>&nbsp;at&nbsp;runtime.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;============================================================================&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>meta</b>&nbsp;http-equiv=<span class="string">&quot;Content-Type&quot;</span>&nbsp;content=<span class="string">&quot;text/html;&nbsp;charset=UTF-8&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>title</b>&gt;PetClinic&nbsp;::&nbsp;a&nbsp;Spring&nbsp;Framework&nbsp;demonstration&lt;<b>/title</b>&gt;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>link</b>&nbsp;href=<span class="string">&quot;http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css&quot;</span>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:href=<span class="string">&quot;@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}&quot;</span>&nbsp;rel=<span class="string">&quot;stylesheet&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>link</b>&nbsp;href=<span class="string">&quot;../../../resources/css/petclinic.css&quot;</span>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:href=<span class="string">&quot;@{/resources/css/petclinic.css}&quot;</span>&nbsp;rel=<span class="string">&quot;stylesheet&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>script</b>&nbsp;src=<span class="string">&quot;http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js&quot;</span>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:src=<span class="string">&quot;@{/webjars/jquery/1.9.0/jquery.js}&quot;</span>&gt;&lt;<b>/script</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>script</b>&nbsp;src=<span class="string">&quot;http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js&quot;</span>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:src=<span class="string">&quot;@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}&quot;</span>&gt;&lt;<b>/script</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>link</b>&nbsp;href=<span class="string">&quot;http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css&quot;</span>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:href=<span class="string">&quot;@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rel=<span class="string">&quot;stylesheet&quot;</span>&gt;&lt;<b>/link</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&lt;<b>/head</b>&gt;
<br />

<br />
&lt;<b>body</b>&gt;
<br />

<br />
&lt;<b>div</b>&nbsp;class=<span class="string">&quot;container&quot;</span>&gt;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:include=<span class="string">&quot;fragments/bodyHeader&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;===========================================================================&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;This&nbsp;div&nbsp;is&nbsp;only&nbsp;used&nbsp;for&nbsp;static&nbsp;prototyping&nbsp;purposes&nbsp;(natural&nbsp;templates)&nbsp;&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;and&nbsp;is&nbsp;therefore&nbsp;entirely&nbsp;optionl,&nbsp;as&nbsp;this&nbsp;markup&nbsp;fragment&nbsp;will&nbsp;be&nbsp;included&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;from&nbsp;<span class="string">&quot;fragments.html&quot;</span>&nbsp;at&nbsp;runtime.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;===========================================================================&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>img</b>&nbsp;th:src=<span class="string">&quot;@{/resources/images/banner-graphic.png}&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;src=<span class="string">&quot;../../../resources/images/banner-graphic.png&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;class=<span class="string">&quot;navbar&quot;</span>&nbsp;style=<span class="string">&quot;width:&nbsp;601px;&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;class=<span class="string">&quot;navbar-inner&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>ul</b>&nbsp;class=<span class="string">&quot;nav&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>li</b>&nbsp;style=<span class="string">&quot;width:&nbsp;100px;&quot;</span>&gt;&lt;<b>a</b>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;href=<span class="string">&quot;../welcome.html&quot;</span>&nbsp;th:href=<span class="string">&quot;@{/}&quot;</span>&gt;&lt;<b>i</b>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;icon-home&quot;</span>&gt;&lt;<b>/i</b>&gt;Home&lt;<b>/a</b>&gt;&lt;<b>/li</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>li</b>&nbsp;style=<span class="string">&quot;width:&nbsp;130px;&quot;</span>&gt;&lt;<b>a</b>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;href=<span class="string">&quot;../owners/findOwners.html&quot;</span>&nbsp;th:href=<span class="string">&quot;@{/owners/find.html}&quot;</span>&gt;&lt;i
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;icon-search&quot;</span>&gt;&lt;<b>/i</b>&gt;Find&nbsp;owners&lt;<b>/a</b>&gt;&lt;<b>/li</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>li</b>&nbsp;style=<span class="string">&quot;width:&nbsp;140px;&quot;</span>&gt;&lt;<b>a</b>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;href=<span class="string">&quot;../vets/vetList.html&quot;</span>&nbsp;th:href=<span class="string">&quot;@{/vets.html}&quot;</span>&gt;&lt;i
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;icon-th-list&quot;</span>&gt;&lt;<b>/i</b>&gt;Veterinarians&lt;<b>/a</b>&gt;&lt;<b>/li</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>li</b>&nbsp;style=<span class="string">&quot;width:&nbsp;90px;&quot;</span>&gt;&lt;<b>a</b>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;href=<span class="string">&quot;../exception.html&quot;</span>&nbsp;th:href=<span class="string">&quot;@{/oups.html}&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;title=<span class="string">&quot;trigger&nbsp;a&nbsp;RuntimeException&nbsp;to&nbsp;see&nbsp;how&nbsp;it&nbsp;is&nbsp;handled&quot;</span>&gt;&lt;i
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;icon-warning-sign&quot;</span>&gt;&lt;<b>/i</b>&gt;Error&lt;<b>/a</b>&gt;&lt;<b>/li</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>li</b>&nbsp;style=<span class="string">&quot;width:&nbsp;80px;&quot;</span>&gt;&lt;<b>a</b>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;href=<span class="string">&quot;#&quot;</span>&nbsp;title=<span class="string">&quot;not&nbsp;available&nbsp;yet.&nbsp;Work&nbsp;in&nbsp;progress!!&quot;</span>&gt;&lt;<b>i</b>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;&nbsp;icon-question-sign&quot;</span>&gt;&lt;<b>/i</b>&gt;Help&lt;<b>/a</b>&gt;&lt;<b>/li</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/ul</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;...&nbsp;--&gt;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>table</b>&nbsp;th:substituteby=<span class="string">&quot;fragments/footer&nbsp;::&nbsp;footer&quot;</span>&nbsp;class=<span class="string">&quot;footer&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;===========================================================================&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;This&nbsp;table&nbsp;section&nbsp;is&nbsp;only&nbsp;used&nbsp;for&nbsp;static&nbsp;prototyping&nbsp;purposes&nbsp;(natural&nbsp;&nbsp;&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;templates)&nbsp;and&nbsp;is&nbsp;therefore&nbsp;entirely&nbsp;optionl,&nbsp;as&nbsp;this&nbsp;markup&nbsp;fragment&nbsp;will&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;be&nbsp;included&nbsp;from&nbsp;<span class="string">&quot;fragments.html&quot;</span>&nbsp;at&nbsp;runtime.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;===========================================================================&nbsp;--&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;align=<span class="string">&quot;right&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>img</b>&nbsp;src=<span class="string">&quot;../../../resources/images/springsource-logo.png&quot;</span>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:src=<span class="string">&quot;@{/resources/images/springsource-logo.png}&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alt=<span class="string">&quot;Sponsored&nbsp;by&nbsp;SpringSource&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/table</b>&gt;
<br />

<br />
&lt;<b>/div</b>&gt;
<br />

<br />
&lt;<b>/body</b>&gt;
<br />

<br />
&lt;<b>/html</b>&gt;
<br />


</code>

    <p>                
        Note how our <kbd>ownersList.html</kbd> contains more code at its head, header and footer
        sections than the original JSP file. Doing it this way is merely optional, and its only aim is to allow the 
        <kbd>ownersList.html</kbd> Thymeleaf-enabled template to 
        display statically as a prototype (something nearly impossible with JSP). 
    </p>

    <p>                
        <i>Is this additional code worth it?</i> If you need or want to use design prototypes, indeed! You will see clearly how much
        a difference this is at the last section of this article. And anyway... remember this prototyping code is optional! 
    </p>

    <ul>
        <li>
            Change the page body. The original code looks like this:
        </li>
    </ul>

<code>


<span class="comment">&lt;!--&nbsp;ownersList.jsp&nbsp;--&gt;</span>
<br />


&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:table</b>&nbsp;id=<span class="string">&quot;owners&quot;</span>&nbsp;data=<span class="string">&quot;${selections}&quot;</span>&nbsp;cdn=<span class="string">&quot;true&quot;</span>&nbsp;row=<span class="string">&quot;owner&quot;</span>&nbsp;theme=<span class="string">&quot;bootstrap2&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cssClass=<span class="string">&quot;table&nbsp;table-striped&quot;</span>&nbsp;paginate=<span class="string">&quot;false&quot;</span>&nbsp;info=<span class="string">&quot;false&quot;</span>&nbsp;export=<span class="string">&quot;pdf&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:column</b>&nbsp;title=<span class="string">&quot;Name&quot;</span>&nbsp;cssStyle=<span class="string">&quot;width:&nbsp;150px;&quot;</span>&nbsp;display=<span class="string">&quot;html&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>spring:url</b>&nbsp;value=<span class="string">&quot;owners/{ownerId}.html&quot;</span>&nbsp;var=<span class="string">&quot;ownerUrl&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>spring:param</b>&nbsp;name=<span class="string">&quot;ownerId&quot;</span>&nbsp;value=<span class="string">&quot;${owner.id}&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/spring:url</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>a</b>&nbsp;href=<span class="string">&quot;${fn:escapeXml(ownerUrl)}&quot;</span>&gt;&lt;<b>c:out</b>&nbsp;value=<span class="string">&quot;${owner.firstName}&nbsp;${owner.lastName}&quot;</span>/&gt;&lt;<b>/a</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/datatables:column</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:column</b>&nbsp;title=<span class="string">&quot;Name&quot;</span>&nbsp;display=<span class="string">&quot;pdf&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>c:out</b>&nbsp;value=<span class="string">&quot;${owner.firstName}&nbsp;${owner.lastName}&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/datatables:column</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:column</b>&nbsp;title=<span class="string">&quot;Address&quot;</span>&nbsp;property=<span class="string">&quot;address&quot;</span>&nbsp;cssStyle=<span class="string">&quot;width:&nbsp;200px;&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:column</b>&nbsp;title=<span class="string">&quot;City&quot;</span>&nbsp;property=<span class="string">&quot;city&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:column</b>&nbsp;title=<span class="string">&quot;Telephone&quot;</span>&nbsp;property=<span class="string">&quot;telephone&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:column</b>&nbsp;title=<span class="string">&quot;Pets&quot;</span>&nbsp;cssStyle=<span class="string">&quot;width:&nbsp;100px;&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>c:forEach</b>&nbsp;var=<span class="string">&quot;pet&quot;</span>&nbsp;items=<span class="string">&quot;${owner.pets}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>c:out</b>&nbsp;value=<span class="string">&quot;${pet.name}&quot;</span>/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/c:forEach</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/datatables:column</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>datatables:export</b>&nbsp;type=<span class="string">&quot;pdf&quot;</span>&nbsp;cssClass=<span class="string">&quot;btn&nbsp;btn-small&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/datatables:table</b>&gt;
<br />


</code>

    <p>
        Which we will replace with:
    </p>

<code>

<span class="comment">&lt;!--&nbsp;ownersList.html&nbsp;--&gt;</span>
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>h2</b>&gt;Owners&lt;<b>/h2</b>&gt;
<br />

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>table</b>&nbsp;class=<span class="string">&quot;table&nbsp;table-striped&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>thead</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&nbsp;style=<span class="string">&quot;width:&nbsp;150px;&quot;</span>&gt;Name&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&nbsp;style=<span class="string">&quot;width:&nbsp;200px;&quot;</span>&gt;Address&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;City&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Telephone&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&nbsp;style=<span class="string">&quot;width:&nbsp;100px;&quot;</span>&gt;Pets&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/thead</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tbody</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&nbsp;th:each=<span class="string">&quot;owner&nbsp;:&nbsp;${selections}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>a</b>&nbsp;href=<span class="string">&quot;ownerDetails.html&quot;</span>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:href=<span class="string">&quot;@{&#39;/owners/&#39;&nbsp;+&nbsp;${owner.id}}&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:text=<span class="string">&quot;${owner.firstName&nbsp;+&nbsp;&#39;&nbsp;&#39;&nbsp;+&nbsp;owner.lastName}&quot;</span>&gt;Mary&nbsp;Smith&lt;<b>/a</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.address}&quot;</span>&gt;45,&nbsp;Oxford&nbsp;Street&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.city}&quot;</span>&gt;Cambridge&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.telephone}&quot;</span>&gt;555-555-555&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>span</b>&nbsp;th:each=<span class="string">&quot;pet&nbsp;:&nbsp;${owner.pets}&quot;</span>&nbsp;th:text=<span class="string">&quot;${pet.name}&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rob
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/span</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tbody</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/table</b>&gt;&nbsp;&nbsp;&nbsp;&nbsp;
<br />


</code>

    <ul>
        <li>
              In the code above you can see how we used HTML code instead of a collection
              of JSP tags from an external library. Not only this makes our code much clearer and more readable,
              but also more standard and <i>understandable by browsers</i>, which will allow us to use this template
              as a <i>static prototype</i>. Again, we will see the advantages of this in the next section.
        </li>
    </ul>


     <h2>And what about the <i>Natural Templates</i> thing?</h2>    

     <p>
       Before we started this migration, we set a goal that our new Thymeleaf templates would 
       be able to display correctly when open statically in a browser (without starting the application
       server) thanks to the <i>Natural Templating</i> capabilities of Thymeleaf.
     </p>
     <p> 
       Well, let's have a look at how the original <kbd>owners/ownersList.jsp</kbd> template looks like when seen
       statically:
     </p> 
     
     <img src="images/thymeleafpetclinic_ownerslist_jsp_static.png" alt="Owners list (JSP), statically opened"/>
     
     <p>
       ...and now let's have a look at our new Thymeleaf-powered <kbd>owners/ownersList.html</kbd>:
     </p>
     
     <img src="images/thymeleafpetclinic_ownerslist_thymeleaf_static.png" alt="Owners list (thymeleaf), statically opened"/>
     
     <p>
       There we are. Data is not valid, because it is a prototype. But it looks good!
     </p>

   </div>
   
   
   <div id="footer">
     <div id="googleplus">
       <div id="plusone-div" class="plusone"></div>
       <script type="text/javascript">
           gapi.plusone.render('plusone-div',{"size": "small", "count": "true", "href": "http://www.thymeleaf.org"});
       </script>
     </div>
     <div id="twitter">
       <a href="http://twitter.com/thymeleaf" class="twitter-follow-button" data-show-count="false">Follow @thymeleaf</a>
       <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
     </div>
     <div id="copy">
       Copyright &copy; The <a href="team.html">THYMELEAF Team</a>. See <a href="documentation.html">applicable licenses</a>.
     </div>
   </div>
   
  </div>
  </body>
  
</html>