<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>The Spring PetClinic Application: from JSP to Thymeleaf</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/thymeleaf.css" />
    <link rel="shortcut icon" href="http://www.thymeleaf.org/favicon.ico" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    
    <style type="text/css">
        /* ---------------------- */
        /* PETCLINIC IMAGES       */
        /* ---------------------- */
        #content img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
  </head>


  <body lang="en" dir="ltr">

  <div id="page">

  
   <div id="menu">
     <ul>
       <li><a href="index.html" title="Home">Home</a></li>
       <li><a href="features.html" title="Features">Features</a></li>
       <li><a href="download.html" title="Download">Download</a></li>
       <li><a href="documentation.html" title="Documentation">Documentation</a></li>
       <li><a href="ecosystem.html" title="Ecosystem">Ecosystem</a></li>
       <li><a href="http://forum.thymeleaf.org" title="User Forum">User Forum</a></li>
       <li><a href="https://sourceforge.net/tracker/?group_id=509826" title="Issue Tracking">Issue Tracking</a></li>
     </ul>
   </div>

   <div id="header">
     <a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a>
   </div>

   <div id="breadcrumb">
      <a href="index.html">thymeleaf</a>
      ::
      <a href="documentation.html">documentation</a> 
      :: 
      articles
      ::
      <span class="current">The spring petclinic application</span>
   </div>


   <div id="content">

     <h1>The Spring PetClinic Application: from JSP to Thymeleaf</h1>

     <p id="author">
       <i>By Soraya S&aacute;nchez &lt;sschz AT users.sourceforge.net&gt;</i>
     </p>



    <h2>The Spring PetClinic application</h2>
    
    <p><i>PetClinic</i> is one of the example applications created by SpringSource for
       the Spring Framework. It is designed to display and manage information 
       related to pets and veterinarians in a pet clinic. More info can be obtained 
       <a href="http://static.springsource.org/docs/petclinic.html">here</a>,
       and the source code can be obtained 
       <a href="https://src.springframework.org/svn/spring-samples/petclinic/trunk/">here</a>.</p>
    
    <img src="images/thymeleafpetclinic_home.png" alt="PetClinic home page"/>

    <p><i>Pet Clinic</i> originally includes a view layer created with JSP, which we will replace using Thymeleaf:</p>
    
    <ul>
        <li>Absolutely no modifications will be made to the Java code, just the view layer. The JSP files will be replaced
            and the application will be reconfigured.</li>
        <li>The original XHTML 1.0 will be replaced with HTML5, and some HTML5-specific features will be 
            added (i.e. input fields with type <tt>tel</tt>, <tt>date</tt>,...).</li>
        <li>Apart from the switch to HTML5, all the application's interface will have to display exactly the same
            as the original.</li>
        <li>Thymeleaf template files should display OK when open statically on a browser (<i>Natural templating</i>).</li>
    </ul>
    
    <p>
      All the code of the PetClinic+Thymeleaf application can be obtained at the 
      <a href="documentation.html">Thymeleaf Project's Documentation</a> page. Note that the original JSP files have 
      not been removed from the source tree but rather moved to the <tt>doc/old_jsps</tt> folder at the source tree,
      so that you can still access them in order to compare with the new templates.
    </p>
    
    
    <h3>The original JSP view layer</h3>
    
    <p>The original JSP view layer has a number of problems we will try to fix when converting the view layer
       to Thymeleaf:</p>
    <ul>
        <li>The JSP pages include both JSTL and Spring-specific tags. None of which are understandable 
        by browsers, so there is no way for it to represent the pages statically (no static 
        prototyping possible).</li>
        <li>JSTL tags use the JSP EL (Expression Language), whereas the tags from the JSP Spring taglibs
        use Spring EL. Two different expression languages are therefore mixed in the same pages.</li>
        <li>The original JSP templates are not complete or well-formed HTML documents. For example, 
        the <i>"show owners"</i> page is broken down into three fragments:
            <ol> 
                <li>a <tt>header.jsp</tt> with unclosed body and div tags,</li>
                <li>a <tt>show.jsp</tt> which does not have neither head nor body tags &mdash;as they come from the header&mdash;, 
                and</li>
                <li> a <tt>footer.jsp</tt> closing the body and div tags opened at the header.</li>
            </ol>
        </li>
        <li>Some JSP pages &mdash;exception handling, for example&mdash; include java code scriptlets, 
            which is not a good practice.</li>
    </ul>         
        
        
    <h2>Configuration</h2>

    <h3>Basic project configuration</h3>
    
    <p>
      Some basic configuration steps will be needed:
    </p>
    
    <ul>
      <li>The <tt>pom.xml</tt> file will be modified in order to add the Thymeleaf dependencies to it and remove the 
          JSP-related ones.</li>
      <li>The original <tt>web.xml</tt> file will also be modified in order to remove the declaration of a <tt>default</tt>
          servlet depending on a specific Tomcat class for serving static resources &mdash;images, css, etc&mdash;.
          Instead, the much cleaner <tt>&lt;mvc:resources/&gt;</tt> mechanism will be used at
          our <tt>petclinic-servlet.xml</tt> Spring bean configuration file:</li>
    </ul>
    
            <code>
&lt;!--
<br />
&nbsp;&nbsp;-&nbsp;Static&nbsp;resources
<br />
--&gt;
<br />
&lt;<b>mvc:resources</b>&nbsp;location=<span class="string">&quot;/&quot;</span>&nbsp;mapping=<span class="string">&quot;/static/**&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&lt;!--
<br />
&nbsp;&nbsp;-&nbsp;The&nbsp;controllers&nbsp;are&nbsp;autodetected&nbsp;POJOs&nbsp;labeled&nbsp;with&nbsp;the&nbsp;@Controller&nbsp;annotation.
<br />
--&gt;
<br />
&lt;<b>mvc:annotation-driven</b>&nbsp;/&gt;
<br />
&lt;<b>context:component-scan</b>&nbsp;base-package=<span class="string">&quot;org.springframework.samples.petclinic.web&quot;</span>/&gt;
<br />
            </code>    

    
    <h3>petclinic-servlet.xml</h3>
    
	<h4>Adding the Thymeleaf Spring beans</h4>
	
    <p>
      Our next configuration step will be to add three required beans at the Spring beans configuration file,
      <tt>petclinic-servlet.xml</tt>:
    </p>
    <ul>
      <li>The Thymeleaf <i>template resolver</i> that will be in charge of reading the 
          template files to be processed. For this application we will use a <tt>ServletContextTemplateResolver</tt>.</li>
      <li>The Thymeleaf <i>template engine</i> instance, of class <tt>SpringTemplateEngine</tt>.</li>
      <li>The Thymeleaf <i>view resolver</i>, a <tt>ThymeleafViewResolver</tt> instance implementing Spring's 
          <tt>org.springframework.web.servlet.ViewResolver</tt> interface. This bean will substitute the
          original <tt>InternalResourceViewResolver</tt> bean which enabled JSP support in the original application.</li>
    </ul>
        
            <code>

&lt;<b>bean</b>&nbsp;id=<span class="string">&quot;templateResolver&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class=<span class="string">&quot;org.thymeleaf.templateresolver.ServletContextTemplateResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;prefix&quot;</span>&nbsp;value=<span class="string">&quot;/WEB-INF/thymeleaf/&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;suffix&quot;</span>&nbsp;value=<span class="string">&quot;.html&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateMode&quot;</span>&nbsp;value=<span class="string">&quot;HTML5&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;order&quot;</span>&nbsp;value=<span class="string">&quot;2&quot;</span>&nbsp;/&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;cacheable&quot;</span>&nbsp;value=<span class="string">&quot;false&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;
<br />
&lt;<b>bean</b>&nbsp;id=<span class="string">&quot;templateEngine&quot;</span>&nbsp;class=<span class="string">&quot;org.thymeleaf.spring3.SpringTemplateEngine&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateResolver&quot;</span>&nbsp;ref=<span class="string">&quot;templateResolver&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;
<br />
&lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.thymeleaf.spring3.view.ThymeleafViewResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;templateEngine&quot;</span>&nbsp;ref=<span class="string">&quot;templateEngine&quot;</span>&nbsp;/&gt;
<br />
&lt;<b>/bean</b>&gt;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
        
        </code>
    
        <p>Note that, as a difference from the original application, our templates will live at the 
           <tt>/WEB-INF/templates</tt> folder instead of the original <tt>/WEB-INF/jsp</tt>.</p>


		   
		<h4>Handling uncaught exceptions through Spring</h4>
		
        <p>
		  The original application handles some types of exceptions through Spring, declaring a 
		  <tt>SimpleMappingExceptionResolver</tt> bean:
        </p>
		
    <code>
    
    &lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.springframework.web.servlet.handler.SimpleMappingExceptionResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;exceptionMappings&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.web.servlet.PageNotFound&quot;</span>&gt;pageNotFound&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.dao.DataAccessException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.transaction.TransactionException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/property</b>&gt;
<br />
    &lt;<b>/bean</b>&gt;
<br />
    
    </code>
		
		<p>
		  The problem is, this does not include every type of exception possible and,
		  for all the remaining exceptions, an ugly JSP file called <tt>uncaughtException.jsp</tt> is
          originally configured at <tt>web.xml</tt> (the reason why we call this one <i>"ugly"</i> will be explained later):
		</p>
		
        <code>

          &lt;<b>error-page</b>&gt;
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>exception-type</b>&gt;java.lang.Exception&lt;<b>/exception-type</b>&gt;
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>!--</b>&nbsp;Displays&nbsp;a&nbsp;stack&nbsp;trace&nbsp;--&gt;
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>location</b>&gt;/WEB-INF/jsp/uncaughtException.jsp&lt;<b>/location</b>&gt;
          <br />
          &lt;<b>/error-page</b>&gt;
          <br />

        </code>
		
		<p>
		  As we want to implement this <i>uncaught exception</i> page using Thymeleaf, we will need our exception handling
		  for these exceptions to go through Spring and not let our web server directly execute our template 
		  &mdash;only JSPs are directly understood by Java web servers&mdash;.
		  So we will remove the code above from <tt>web.xml</tt> and we will modify the exception handling
		  bean declaration at <tt>petclinic-servlet.xml</tt>:
        </p>
        
    <code>
    &lt;<b>bean</b>&nbsp;class=<span class="string">&quot;org.springframework.web.servlet.handler.SimpleMappingExceptionResolver&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;exceptionMappings&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.web.servlet.PageNotFound&quot;</span>&gt;pageNotFound&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.dao.DataAccessException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>prop</b>&nbsp;key=<span class="string">&quot;org.springframework.transaction.TransactionException&quot;</span>&gt;dataAccessFailure&lt;<b>/prop</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/props</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/property</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>property</b>&nbsp;name=<span class="string">&quot;defaultErrorView&quot;</span>&nbsp;value=<span class="string">&quot;uncaughtException&quot;</span>&gt;&lt;<b>/property</b>&gt;
<br />
    &lt;<b>/bean</b>&gt;
<br />
    
    </code>
     
        
        
        
    <h2>HTML pages</h2>
    
    <p>In this section, we'll describe how to replace two different pages in the application with their Thymeleaf version:</p>
    <ul>
        <li>owners/list.jsp page</li>
        <li>uncaughtException.jsp page</li>
    </ul>
        
       
     
    <h4>Modify owners/list.jsp page</h4>     
    <p>This page shows the list of veterinarians that match the last name we introduced in the previous page (search.jsp).</p>
    
    <img src="images/thymeleafpetclinic_owners.png" alt="Owners page"/> 
    
    <p>In order to modify the JSP page, we have to:</p>
    <ul>
        <li>Rename list.jsp to list.html</li>
        <li>Remove the include sentences as we do not need any tags libray and the head and footer pieces of HTML will
        be added to the page by means of the <kbd>th:substituteby</kbd> tag. Header and footer files have been included in
        one single file: <kbd>layout.html</kbd>
                <code>
&lt;<b>!--</b>&nbsp;list.jsp&nbsp;file&nbsp;--&gt;
<br />
&lt;<b>%@</b>&nbsp;include&nbsp;file=<span class="string">&quot;/WEB-INF/jsp/includes.jsp&quot;</span>&nbsp;%&gt;
<br />
&lt;<b>%@</b>&nbsp;include&nbsp;file=<span class="string">&quot;/WEB-INF/jsp/header.jsp&quot;</span>&nbsp;%&gt;

<br />
&lt;<b>h2</b>&gt;Owners:&lt;<b>/h2</b>&gt;
                    
                </code>
                <code>
&lt;<b>!--</b>&nbsp;list.html&nbsp;file&nbsp;--&gt;
<br />
                    &lt;<b>!DOCTYPE</b>&nbsp;html&gt;
<br />
&lt;<b>html</b>&nbsp;xmlns:th=<span class="string">&quot;http://www.thymeleaf.org&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>head</b>&nbsp;th:substituteby=<span class="string">&quot;layout&nbsp;::&nbsp;head&quot;</span>&gt;&lt;<b>/head</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>body</b>&gt;
<br />
            
                </code>
        </li>
        <li>
            Remove the JSP tags and use Thymeleaf attributes instead

<code>


&lt;<b>!--</b>&nbsp;list.jsp&nbsp;file&nbsp;--&gt;
<br />
&lt;<b>table</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>thead</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Name&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Address&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;City&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Telephone&lt;<b>/th</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>th</b>&gt;Pets&lt;<b>/th</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>/thead</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>c:forEach</b>&nbsp;var=<span class="string">&quot;owner&quot;</span>&nbsp;items=<span class="string">&quot;${selections}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>spring:url</b>&nbsp;value=<span class="string">&quot;owners/{ownerId}&quot;</span>&nbsp;var=<span class="string">&quot;ownerUrl&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>spring:param</b>&nbsp;name=<span class="string">&quot;ownerId&quot;</span>&nbsp;value=<span class="string">&quot;${owner.id}&quot;</span>/&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/spring:url</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>a</b>&nbsp;href=<span class="string">&quot;${fn:escapeXml(ownerUrl)}&quot;</span>&gt;${owner.firstName}&nbsp;${owner.lastName}&lt;<b>/a</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;${owner.address}&lt;<b>/td</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;${owner.city}&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;${owner.telephone}&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>c:forEach</b>&nbsp;var=<span class="string">&quot;pet&quot;</span>&nbsp;items=<span class="string">&quot;${owner.pets}&quot;</span>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${pet.name}&nbsp;&amp;nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/c:forEach</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
&nbsp;&nbsp;&lt;<b>/c:forEach</b>&gt;
<br />
&lt;<b>/table</b>&gt;

<br />


</code>


<code>


&lt;<b>!--</b>&nbsp;list.html&nbsp;file&nbsp;--&gt;
<br />
&lt;<b>table</b>&gt;
<br />
    &lt;<b>thead</b>&gt;

<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>tr</b>&gt;
<br />
        &lt;<b>th</b>&gt;Name&lt;<b>/th</b>&gt;
<br />
        &lt;<b>th</b>&gt;Address&lt;<b>/th</b>&gt;
<br />

        &lt;<b>th</b>&gt;City&lt;<b>/th</b>&gt;
<br />
        &lt;<b>th</b>&gt;Telephone&lt;<b>/th</b>&gt;
<br />
        &lt;<b>th</b>&gt;Pets&lt;<b>/th</b>&gt;

<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/tr</b>&gt;
<br />
    &lt;<b>/thead</b>&gt;
<br />
    &lt;<b>tr</b>&nbsp;th:each=<span class="string">&quot;owner&nbsp;:&nbsp;${selections}&quot;</span>&gt;
<br />

    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
        &lt;<b>a</b>&nbsp;th:href=<span class="string">&quot;@{&#39;/owners/&#39;&nbsp;+&nbsp;${owner.id}}&quot;</span>&nbsp;href=<span class="string">&quot;show.html&quot;</span>&nbsp;
<br />
        &nbsp;&nbsp;&nbsp;&nbsp;th:text=<span class="string">&quot;${owner.firstName&nbsp;+&nbsp;owner.lastName}&quot;</span>&gt;Mary&nbsp;Smith&lt;<b>/a</b>&gt;

<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.address}&quot;</span>&gt;45,&nbsp;Oxford&nbsp;Street&lt;<b>/td</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.city}&quot;</span>&gt;Cambridge&lt;<b>/td</b>&gt;

<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&nbsp;th:text=<span class="string">&quot;${owner.telephone}&quot;</span>&gt;555-555-555&lt;<b>/td</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />
        &lt;<b>span</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:each=<span class="string">&quot;pet&nbsp;:&nbsp;${owner.pets}&quot;</span>&nbsp;th:utext=<span class="string">&quot;${pet.name&nbsp;+&nbsp;&#39;&amp;nbsp;&#39;}&quot;</span>&gt;

<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Bob
<br />
        &lt;<b>/span</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;
<br />
    &lt;<b>/tr</b>&gt;
<br />
    &lt;<b>tr</b>&nbsp;th:remove=<span class="string">&quot;all&quot;</span>&gt;

<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;&lt;<b>a</b>&nbsp;href=<span class="string">&quot;show.html&quot;</span>&gt;John&nbsp;Moore&lt;<b>/a</b>&gt;&lt;<b>/td</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;78,&nbsp;NY&nbsp;Street&lt;<b>/td</b>&gt;

<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;Washington&lt;<b>/td</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;333-333-333&lt;<b>/td</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>td</b>&gt;
<br />

        &lt;<b>span</b>&gt;Roger&lt;<b>/span</b>&gt;
<br />
        &lt;<b>br/</b>&gt;
<br />
        &lt;<b>span</b>&gt;Peggy&lt;<b>/span</b>&gt;
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/td</b>&gt;

<br />
    &lt;<b>/tr</b>&gt;
<br />
&lt;<b>/table</b>&gt;
<br />


</code>

            <p>In the code above you can see how, for example, we have replaced the use of the tag <kbd>c:foreach</kbd> with 
            the <kbd>th:each</kbd> attribute instead.</p>
            <p>Note that, in the Thymeleaf version, we have added some code just to be used when displaying the page statically. So we use the th:remove attribute
            to avoid this being rendered when deploying in a server.</p>
        </li>
    </ul>

    <p>You can checkout the Petclinic module from the <a href="documentation.html" title="Documentation">Thymeleaf documentation page</a> and have a look at this in detail.
     
    <h4>Modify uncaughtException.jsp</h4>     
    <p>This is the page the user will be redirected to when an unexpected exception arises. The JSP version of this page is not as the others, instead
    of JSP tags, it contains java code (yes...that's not a good practice). So, in order to create the Thymeleaf version of that page, we
    have to replace all of that java code with HTML and add Thymeleaf attributes to it in order to get the same results 
    as the original page does.
    </p>
    <img src="images/thymeleafpetclinic_uncaughtexception.png" alt="Uncaught Exception page"/>
    
    
    
    <code>
&lt;<b>!--</b>&nbsp;uncaughtException.jsp&nbsp;file&nbsp;--&gt;
<br />

&lt;%&nbsp;
<br />
<b>try</b>&nbsp;{
<br />
    <span class="comment">//&nbsp;The&nbsp;Servlet&nbsp;spec&nbsp;guarantees&nbsp;<b>this</b>&nbsp;attribute&nbsp;will&nbsp;be&nbsp;available

</span><br />
    Throwable&nbsp;exception&nbsp;=&nbsp;(Throwable)&nbsp;request.getAttribute(<span class="string">&quot;javax.servlet.error.exception&quot;</span>);&nbsp;
<br />

<br />
    if&nbsp;(exception&nbsp;!=&nbsp;null)&nbsp;{

<br />
        if&nbsp;(exception&nbsp;instanceof&nbsp;ServletException)&nbsp;{
<br />
            <span class="comment">//&nbsp;It&#39;s&nbsp;a&nbsp;ServletException:&nbsp;we&nbsp;should&nbsp;extract&nbsp;the&nbsp;root&nbsp;cause

</span><br />
            ServletException&nbsp;sex&nbsp;=&nbsp;(ServletException)&nbsp;exception;
<br />
            Throwable&nbsp;rootCause&nbsp;=&nbsp;sex.getRootCause();
<br />
            if&nbsp;(rootCause&nbsp;==&nbsp;null)

<br />
                rootCause&nbsp;=&nbsp;sex;
<br />
            out.println(<span class="string">&quot;**&nbsp;Root&nbsp;cause&nbsp;is:&nbsp;&quot;</span>+&nbsp;rootCause.getMessage());
<br />
            rootCause.printStackTrace(<b>new</b>&nbsp;java.io.PrintWriter(out));&nbsp;

<br />
        }
<br />
        else&nbsp;{
<br />
            <span class="comment">//&nbsp;It&#39;s&nbsp;not&nbsp;a&nbsp;ServletException,&nbsp;so&nbsp;we&#39;ll&nbsp;just&nbsp;show&nbsp;it

</span><br />
            exception.printStackTrace(<b>new</b>&nbsp;java.io.PrintWriter(out));&nbsp;
<br />
        }
<br />
    }&nbsp;
<br />
    else&nbsp;&nbsp;{

<br />
&nbsp;&nbsp;&nbsp;&nbsp;    out.println(<span class="string">&quot;No&nbsp;error&nbsp;information&nbsp;available&quot;</span>);
<br />
    }&nbsp;
<br />

<br />
    <span class="comment">//&nbsp;Display&nbsp;cookies

</span><br />
    out.println(<span class="string">&quot;\nCookies:\n&quot;</span>);
<br />
    Cookie[]&nbsp;cookies&nbsp;=&nbsp;request.getCookies();
<br />
    if&nbsp;(cookies&nbsp;!=&nbsp;null)&nbsp;{

<br />
&nbsp;&nbsp;&nbsp;&nbsp;    <b>for</b>&nbsp;(<b>int</b>&nbsp;i&nbsp;=&nbsp;0;&nbsp;i&nbsp;&lt;&nbsp;cookies.length;&nbsp;i++)&nbsp;{
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        out.println(cookies[i].getName()&nbsp;+&nbsp;<span class="string">&quot;=[&quot;</span>&nbsp;+&nbsp;cookies[i].getValue()&nbsp;+&nbsp;<span class="string">&quot;]&quot;</span>);

<br />
        }
<br />
    }
<br />
    &nbsp;&nbsp;&nbsp;&nbsp;
<br />
}&nbsp;<b>catch</b>&nbsp;(Exception&nbsp;ex)&nbsp;{&nbsp;
<br />

    ex.printStackTrace(<b>new</b>&nbsp;java.io.PrintWriter(out));
<br />
}
<br />
%&gt;
<br />


</code>









<code>
&lt;<b>!--</b>&nbsp;uncaughtException.html&nbsp;file&nbsp;--&gt;
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;id=<span class="string">&quot;main&quot;</span>&nbsp;th:with=&quot;exception&nbsp;&nbsp;&nbsp;=&nbsp;${#httpServletRequest.getAttribute(&#39;javax.servlet.error.exception&#39;)},
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;${exception.class},
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stacktrace&nbsp;&nbsp;=&nbsp;${exception.stackTrace},
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cookies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;${#httpServletRequest.cookies}&quot;&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>h2</b>&gt;Internal&nbsp;error&lt;<b>/h2</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>p/</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:if=<span class="string">&quot;${exception&nbsp;!=&nbsp;null}&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:if=<span class="string">&quot;${exception&nbsp;instanceof&nbsp;T(javax.servlet.ServletException)}&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:object=<span class="string">&quot;${exception.rootCause}&quot;</span>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:utext=<span class="string">&quot;*{&#39;**&nbsp;Root&nbsp;cause&nbsp;is:&nbsp;&#39;&nbsp;+&nbsp;message&nbsp;+&nbsp;&#39;&amp;lt;br/&amp;gt;&#39;}&quot;</span>&gt;&lt;<b>/div</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:each=<span class="string">&quot;st&nbsp;:&nbsp;*{stackTrace}&quot;</span>&nbsp;th:text=<span class="string">&quot;${st}&quot;</span>&gt;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:unless=<span class="string">&quot;${exception&nbsp;instanceof&nbsp;T(javax.servlet.ServletException)}&quot;</span>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:utext=<span class="string">&quot;${exception.class&nbsp;+&nbsp;&#39;:&nbsp;&#39;&nbsp;+&nbsp;exception.message&nbsp;+&nbsp;&#39;&amp;lt;br/&amp;gt;&#39;}&quot;</span>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>div</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:utext=<span class="string">&quot;${&#39;at&nbsp;&#39;+&nbsp;st&nbsp;+&nbsp;&#39;&amp;lt;br/&amp;gt;&#39;}&quot;</span>&nbsp;&nbsp;&nbsp;&nbsp;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th:each=<span class="string">&quot;st&nbsp;:&nbsp;${stackTrace}&quot;</span>&nbsp;&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>/div</b>&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>p</b>&nbsp;th:if=<span class="string">&quot;${exception&nbsp;==&nbsp;null}&quot;</span>&nbsp;th:text=<span class="string">&quot;&#39;No&nbsp;error&nbsp;information&nbsp;available&#39;&quot;</span>&gt;&lt;<b>/p</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>br/</b>&gt;
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cookies:
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>br/</b>&gt;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<b>p</b>&nbsp;th:remove=<span class="string">&quot;tag&quot;</span>&nbsp;th:each=<span class="string">&quot;c&nbsp;:&nbsp;${cookies}&quot;</span>&nbsp;th:text=<span class="string">&quot;${c.name&nbsp;+&nbsp;&#39;=[&#39;&nbsp;+&nbsp;c.value&nbsp;+&nbsp;&#39;]&#39;}&quot;</span>&gt;&lt;<b>/p</b>&gt;

<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</code>


<p>Note in the code above how we use the <kbd>th:with</kbd> attribute in order to define several variables to be used in the HTML
under the tag containing the <kbd>th:with</kbd>. With our Thymeleaf version we are, as in the JSP one, printing the exception stacktrace in the page in a different
way depending on the exception type.</p>
<p>To be able to access to the exception, we make use of the <kbd>#httpServletRequest</kbd> object in our Spring EL expression.</p>

    
 
  </div>
  </body>
  
</html>