<h1>Login and error pages using Thymeleaf and Spring Security</h1>

<p>
    Have you switched to Thymeleaf but your login and error pages are still using JSP? <br />
    In this article we will see how to configure your Spring application to use Thymeleaf for
    login and error pages.
</p>



<h2>Prerequisites</h2>

<p>
    We asume you are familiar with Thymeleaf and Spring Security, and you have a working application using
    these technologies.
    If you don't know Spring Security, you could be interested on reading the
    <a href="http://static.springsource.org/spring-security/site/reference.html">Spring Security Documentation</a>.
</p>



<h2>Login pages</h2>

<p>
    With Spring security you could specify any URL to act as a login page, so we simply set URLs for
    login page and login error page as <b>&lt;form-login&gt;</b> element attributes into the Spring-Security
    configuration file (usually <b>applicationContext-security.xml</b>):
</p>

<pre>
    &lt;http auto-config="true"&gt;
        &lt;form-login login-page="<b>/login.html</b>" authentication-failure-url="<b>/login-error.html</b>" /&gt;
        &lt;logout /&gt;
        ...
    &lt;/http&gt;
</pre>

<p>
    Now we have to match these pages inside a Spring Controller:
</p>

<pre>
    @Controller
    public class MainController {

        ...

        /** Login form. */
        @RequestMapping("/login.html")
        public String login() {
            return "login.html";
        }

        /** Login form with error. */
        @RequestMapping("/login-error.html")
        public String loginError(Model model) {
            model.addAttribute("loginError", true);
            return "login.html";
        }
    }
</pre>

<p>
    Note that we are using the same template <b>login.html</b> for both pages, but when there is an error,
    we set a boolean attribute into the model.
</p>

<p>
    Our <b>login.html</b> template is as follows:
</p>

<pre>
    &lt;!DOCTYPE html&gt;
    &lt;html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"&gt;
        &lt;head&gt;
            &lt;title&gt;Login page&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
            &lt;h1&gt;Login page&lt;/h1&gt;
            &lt;p th:if="${loginError}"&gt;Wrong user or password&lt;/p&gt;
            &lt;form th:action="@{/j_spring_security_check}" method="post"&gt;
                &lt;label for="j_username"&gt;Username&lt;/label&gt;:
                &lt;input type="text" id="j_username" name="j_username" /&gt; &lt;br /&gt;
                &lt;label for="j_password"&gt;Password&lt;/label&gt;:
                &lt;input type="password" id="j_password" name="j_password" /&gt; &lt;br /&gt;
                &lt;input type="submit" value="Log in" /&gt;
            &lt;/form&gt;
        &lt;/body&gt;
    &lt;/html&gt;
</pre>



<h2>Error page</h2>

<p>
    We also can configure a Thymeleaf error page. In this case Spring Security is not involved at all, we
    should simply modify our <b>web.xml</b> adding error <b>&lt;error-page&gt;</b> elements like:
</p>

<pre>
    ...
    &lt;error-page&gt;
        &lt;exception-type&gt;java.lang.Throwable&lt;/exception-type&gt;
        &lt;location&gt;/error.html&lt;/location&gt;
    &lt;/error-page&gt;
    &lt;error-page&gt;
        &lt;error-code&gt;500&lt;/error-code&gt;
        &lt;location&gt;/error.html&lt;/location&gt;
    &lt;/error-page&gt;
    ...
</pre>

<p>
    Then, we have to map the <b>/error.html</b> in our Spring Controller:
</p>

<pre>
    @Controller
    public class HomeController {

        ...

        /** Error page. */
        @RequestMapping("/error.html")
        public String error(HttpServletRequest request, Model model) {
            model.addAttribute("errorCode", request.getAttribute("javax.servlet.error.status_code"));
            Throwable throwable = (Throwable) request.getAttribute("javax.servlet.error.exception");
            String errorMessage = null;
            if (throwable != null) {
                errorMessage = throwable.getMessage();
            }
            model.addAttribute("errorMessage", errorMessage.toString());
            return "error.html";
        }
    }
</pre>

<p>
    Note that we store error code and error message into the model to show some information in the error page.
</p>

<p>
    The <b>error.html</b> template could be like:
</p>

<pre>
    &lt;!DOCTYPE html&gt;
    &lt;html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"&gt;
        &lt;head&gt;
            &lt;title&gt;Error page&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
            &lt;h1 th:text="${errorCode}"&gt;500&lt;/h1&gt;
            &lt;p th:text="${errorMessage}"&gt;java.lang.NullPointerException&lt;/p&gt;
        &lt;/body&gt;
    &lt;/html&gt;
</pre>



<h2>Download example</h2>

<p>
    The full working example code used in this article is available for download at <b>DOCUMENT ME!</b>.
</p>
