<!DOCTYPE html>
<html>

  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Standard URL syntax - Thymeleaf: java XML/XHTML/HTML5 template engine</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/thymeleaf.css" />
    <link rel="shortcut icon" href="http://www.thymeleaf.org/favicon.ico" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1276954-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="sh/scripts/shCore.js"></script>
    <script type="text/javascript" src="sh/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="sh/scripts/shBrushJava.js"></script>
    <link href="sh/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="sh/styles/shThemeThymeleaf.css" rel="stylesheet" type="text/css" />
  </head>


  <body lang="en" dir="ltr">

  <div id="page">

  
   <div id="menu">
     <ul>
       <li><a href="index.html" title="Home">Home</a></li>
       <li><a href="features.html" title="Features">Features</a></li>
       <li><a href="download.html" title="Download">Download</a></li>
       <li><a href="documentation.html" title="Documentation">Documentation</a></li>
       <li><a href="ecosystem.html" title="Ecosystem">Ecosystem</a></li>
       <li><a href="http://forum.thymeleaf.org" title="User Forum">User Forum</a></li>
       <li><a href="issuetracking.html" title="Issue Tracking">Issue Tracking</a></li>
     </ul>
   </div>

   <div id="header">
     <a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a>
   </div>

   <div id="breadcrumb">
      <a href="index.html">thymeleaf</a>
      ::
      <a href="documentation.html">documentation</a> 
      :: 
      articles
      ::
      <span class="current">standard url syntax</span>
   </div>


   <div id="content">

     <h1>Standard URL Syntax</h1>

     <p>
       The Thymeleaf standard dialects &mdash;called <i>Standard</i> and <i>SpringStandard</i>&mdash; offer a way to easily create 
       URLs in your web application so that they include any required <i>URL preparation</i> artifacts. This is done by means of the 
       so-called <i>&#8220;at&#8221; syntax</i> of the <i>standard expressions</i>: <kbd>@{...}</kbd>
     </p>


     
     <h2>Absolute URLs</h2>

     <p>
       Absolute URLs allow you to create links to other servers. They start by specifying a protocol
       name (<kbd>http://</kbd> or <kbd>https://</kbd>)
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{http://www.thymeleaf/documentation.html}">
     ]]></script>

     <p>
       They are not modified at all:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a href="http://www.thymeleaf/documentation.html">
     ]]></script>



     <h2>Context-relative URLs</h2>

     <p>
       The most used type of URLs are <i>context-relative</i> ones. These are URLs which are supposed to be 
       relative to the web application root once it is installed on the server. For example, if we deploy
       a <kbd>myapp.war</kbd> file into a Tomcat server, our application will probably be accessible as
       <kbd>http://localhost:8080/myapp</kbd>, and <kbd>myapp</kbd> will be the <i>context name</i>.
     </p>

     <p>
       Context-relative URLs start with <kbd>/</kbd>:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{/order/list}">
     ]]></script>

     <p>
       If our app is installed at <kbd>http://localhost:8080/myapp</kbd>, this URL will output:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a href="/myapp/order/list">
     ]]></script>



     <h3>URL Rewriting</h3>

     <p>
       Rewriting <i>context-relative</i> URLs means to:
     </p>
     
     <ul>
       <li>
         Automatically add the context name to context-relative URLs, as already seen.
       </li>
       <li>
         Automatically detect whether the user has cookies enabled or not, and
         add the <kbd>;jsessionid=...</kbd> fragment to the URL if not &mdash;or if it is the 
         first request and cookie configuration is still unknown.
       </li>
     </ul>

     <p>
       All of this is automatically done when outputting this kind of URLs, because thymeleaf will
       apply the standard application server's <kbd>response.encodeURL(url)</kbd> mechanism before outputting any URL.
     </p>



     <h2>Server-relative URLs</h2>

     <p>
       <i>Server-relative</i> URLs are very similar to <i>context-relative</i> URLs, except they do not assume 
       you want your URL to be linking to a resource inside your application's context, and therefore 
       allow you to link to a different context in the same server:
     </p>
     
     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{~/billing-app/showDetails.htm}">
     ]]></script>

     <p>
       The current application's context will be ignored, therefore although our application is deployed at 
       <kbd>http://localhost:8080/myapp</kbd>, this URL will output:
     </p>
     
     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a href="/billing-app/showDetails.htm">
     ]]></script>
     
     <p>
       <i>(Note that server-relative URLs are only available since Thymeleaf 2.0.5)</i>
     </p>




     <h2>Adding parameters</h2>

     <p>
       How do we add parameters to the URLs we create with <kbd>@{...}</kbd> 
       expressions? Simple:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{/order/details(id=3)}">
     ]]></script>

     <p>
       Which would output as:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a href="/order/details?id=3">
     ]]></script>

     <p>
       You can add several parameters, separating them with commas:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{/order/details(id=3,action='show_all')}">
     ]]></script>

     <p>
       Which would output as:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a href="/order/details?id=3&action=show_all">
     ]]></script>


     <h2>URL fragment identifiers</h2>

     <p>
       Fragment identifiers can be included in URLs, both with and without parameters. They will always
       be included at the URL base, so that:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{/home#all_info(action='show')}">
     ]]></script>

     <p>
       ...would output as:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a href="/home?action=show#all_info">
     ]]></script>
     
     <p>
       <i>(Note that fragment identifiers in parameterized URLs are only supported since Thymeleaf 2.0.7)</i>
     </p>




     <h2>Only for th:href's?</h2>

     <p>
       Do not think URL <kbd>@{...}</kbd> expressions are only used in <kbd>th:href</kbd> attributes. They can,
       in fact, be used <i>anywhere</i> just like variable expressions (<kbd>${...}</kbd>) or message externalization / 
       internationalization ones (<kbd>#{...}</kbd>). 
     </p>
     <p>
       For example, you could use them in forms...
     </p>
     
     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <form th:action="@{/order/processOrder}">
     ]]></script>
     <p>
       ...or as a part of other expression. Here as a parameter of an externalized/internationalized string:
     </p>     
     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <p th:text="#{orders.explanation('3', @{/order/details(id=3,action='show_all')})}">
     ]]></script>


     <h2>Using expressions in URLs</h2>

     <p>
       What if we needed to write an URL expression like this:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{/order/details(id=3,action='show_all')}">
     ]]></script>

     <p>
       ...but neither <kbd>3</kbd> nor <kbd>'show_all'</kbd> could be literals, because we only know their
       value at run time?
     </p>
     <p>
       No problem! Every URL parameter value is in fact an expression, so you can easily substitute
       your literals with any other expressions, including i18n, conditionals...:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{/order/details(id=${order.id},action=(${user.admin} ? 'show_all' : 'show_public'))}">
     ]]></script>

     <p>
       What's more: an URL expression like:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{/order/details(id=${order.id})}">
     ]]></script>

     <p>
       ...is in fact a shortcut for:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{'/order/details'(id=${order.id})}">
     ]]></script>

     <p>
       Which means that the URL base itself can be specified as an expression, for example
       a variable expression:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{${detailsURL}(id=${order.id})}">
     ]]></script>

     <p>
       ...or an externalized/internationalized text:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{#{orders.details.localized_url}(id=${order.id})}">
     ]]></script>

     <p>
       ...even complex expressions can be used, including conditionals, for example:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:href="@{(${user.admin}? '/admin/home' : ${user.homeUrl})(id=${order.id})}">
     ]]></script>

     <p>
       Want it cleaner? Use <kbd>th:with</kbd>:
     </p>

     <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
         <a th:with="baseUrl=(${user.admin}? '/admin/home' : ${user.homeUrl})"
            th:href="@{${baseUrl}(id=${order.id})}">
     ]]></script>

     <p>
       ...or...
     </p>

     <script type="syntaxhighlighter" class="brush:html"><![CDATA[
         <div th:with="baseUrl=(${user.admin}? '/admin/home' : ${user.homeUrl})">
             ...
             <a th:href="@{${baseUrl}(id=${order.id})}">...</a>
             ...
         </div>
     ]]></script>






   </div>
   
   
   <div id="footer">
     <div id="googleplus">
       <div id="plusone-div" class="plusone"></div>
       <script type="text/javascript">
           gapi.plusone.render('plusone-div',{"size": "small", "count": "true", "href": "http://www.thymeleaf.org"});
       </script>
     </div>
     <div id="twitter">
       <a href="http://twitter.com/thymeleaf" class="twitter-follow-button" data-show-count="false">Follow @thymeleaf</a>
       <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
     </div>
     <div id="copy">
       Copyright &copy; The <a href="team.html">THYMELEAF Team</a>. See <a href="documentation.html">applicable licenses</a>.
     </div>
   </div>
   
  </div>

  <script type="text/javascript">
      SyntaxHighlighter.all();
  </script>

  </body>
  
</html>