<!DOCTYPE html>
<html>

  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>What's new in Thymeleaf 2.1 - Thymeleaf: java XML/XHTML/HTML5 template engine</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/thymeleaf.css" />
    <link rel="shortcut icon" href="http://www.thymeleaf.org/favicon.ico" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang:'en', parsetags:'explicit'}
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1276954-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="sh/scripts/shCore.js"></script>
    <script type="text/javascript" src="sh/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="sh/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="sh/scripts/shBrushPlain.js"></script>
    <link href="sh/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="sh/styles/shThemeThymeleaf.css" rel="stylesheet" type="text/css" />
  </head>


  <body lang="en" dir="ltr">

  <div id="page">

  
   <div id="menu">
     <ul>
       <li><a href="index.html" title="Home">Home</a></li>
       <li><a href="features.html" title="Features">Features</a></li>
       <li><a href="download.html" title="Download">Download</a></li>
       <li><a href="documentation.html" title="Documentation">Documentation</a></li>
       <li><a href="ecosystem.html" title="Ecosystem">Ecosystem</a></li>
       <li><a href="http://forum.thymeleaf.org" title="User Forum">User Forum</a></li>
       <li><a href="issuetracking.html" title="Issue Tracking">Issue Tracking</a></li>
     </ul>
   </div>

   <div id="header">
     <a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a>
   </div>

   <div id="breadcrumb">
      <a href="index.html">thymeleaf</a>
      ::
      <a href="documentation.html">documentation</a> 
      ::
      <span class="current">what's new in thymeleaf 2.1</span>
   </div>


   <div id="content">

    <h1>What's new in Thymeleaf 2.1</h1>


    <p class="notice">
      <b>Important: <em>Thymeleaf 2.1 is still in beta</em></b>. This document explains features that
      are already included in published beta versions and which you can use for testing purposes. Its use for production
      will not be recommended until a stable <strong>2.1.0</strong> version is released.
    </p>
	<p>
      Thymeleaf 2.1 includes a lot of new interesting features. Here they are:
	</p>
	<ul>
      <li>Fragment inclusion:
        <ul>
          <li><a href="#stf">Same-template fragments</a></li>
          <li><a href="#fsig">Parameterizable fragment signatures</a></li>
        </ul>
      </li>
      <li>Expression improvements:
        <ul>
          <li><a href="#doms">More powerful DOM selector syntax</a></li>
          <li><a href="#lsub">Literal substitutions</a> #175</li>
          <li><a href="#lit">Boolean and null literals</a> #53 #174</li>
          <li><a href="#pru">Protocol-relative URLs</a> #204</li>
        </ul>
      </li>
      <li>Markup processing improvements:
        <ul>
          <li><a href="#plcom">Parser-level block comments</a> #183</li>
          <li><a href="#pocb">Prototype-only comment blocks</a> #185</li>
        </ul>
      </li>
      <li>New Standard Dialect features:
        <ul>
          <li><a href="#bloc">Synthetic block tag</a> #182</li>
          <li><a href="#data">Support for HTML5-friendly attribute and element names</a> #93</li>
          <li><a href="#assr">Added th:assert for in-template assertions</a> #178</li>
          <li><a href="#repl">th:replace as a synonym of th:substituteby</a> #69</li>
          <li><a href="#with">Reuse variables with th:with</a> #98</li>
        </ul>
      </li>
	</ul>



       <h2><a name="stf"></a>Same-template fragments</h2>

       <p>
           Thymeleaf now allows including fragments from the same template. There are two available
           syntaxes: one specifying no template name:
       </p>

       <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
           <div th:include="::fragment_name">...</div>
       ]]></script>

       <p>
           ...and another one specifying the keyword <kbd>this</kbd>:
       </p>

       <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
           <div th:include="this :: fragment_name">...</div>
       ]]></script>




       <h2><a name="fsig"></a>Parameterizable fragment signatures</h2>

       <p>
           In order to create a more <i>function-like</i> mechanism for the use of template fragments, fragments
           defined with <kbd>th:fragment</kbd> can now specify a set of parameters:
       </p>

       <script type="syntaxhighlighter" class="brush:html"><![CDATA[
           <div th:fragment="frag (onevar,twovar)">
               <p th:text="${onevar} + ' - ' + ${twovar}">...</p>
           </div>
       ]]></script>

       <p>
            This requires the use of one of these two syntaxes to call the fragment:
       </p>

       <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
           <div th:include="::frag (${value1},${value2})">...</div>
       ]]></script>
       <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
           <div th:include="::frag (onevar=${value1},twovar=${value2})">...</div>
       ]]></script>

       <p>
           Note that order is not important in the last option:
       </p>

       <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
           <div th:include="::frag (twovar=${value2},onevar=${value1})">...</div>
       ]]></script>

       <h4>Fragment local variables without fragment signature</h4>

       <p>
            Even if fragments are defined without signature, like this:
       </p>

       <script type="syntaxhighlighter" class="brush:html"><![CDATA[
           <div th:fragment="frag">
               ...
           </div>
       ]]></script>

       <p>
            We could use the second syntax specified above to call them (and only the second one):
       </p>

       <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
           <div th:include="::frag (onevar=${value1},twovar=${value2})">
       ]]></script>

       <p>
            This would be, in fact, equivalent to a combination of <kbd>th:include</kbd> and <kbd>th:with</kbd>:
       </p>

       <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
           <div th:include="::frag" th:with="onevar=${value1},twovar=${value2}">
       ]]></script>

       <p>
           But the difference is, this will also work with <kbd>th:substituteby</kbd> / <kbd>th:replace</kbd>.
           Until now these attributes didn't work well with th:with because they effectively removed the host
           tag before th:with got executed:
       </p>

       <script type="syntaxhighlighter" class="brush:html"><![CDATA[
           <!-- th:with will never be executed. Variables will never be created -->
           <div th:replace="::frag" th:with="onevar=${value1},twovar=${value2}">
       ]]></script>

       <h4>Context composition for fragments</h4>

       <p>
           Note that this specification of local variables for a fragment &mdash;no matter whether it
           has a signature or not&mdash; does not cause an initialization of the context to zero.
           Fragments will still be able to access every context variable being used at the calling
           template like they currently are.
       </p>




        <h2><a name="doms"></a>More powerful DOM selector syntax</h2>


        <p>
            DOM Selector syntax has been enhanced to include more selection possibilities and easier
            selection of DOM fragments. These selectors can be used for fragment inclusion since 2.0, like:
        </p>

        <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
            <div th:include="mytemplate :: [//div/p[@class='content']]">...</div>
        ]]></script>


        <h4>Selection features</h4>

        <p>
            DOM Selector selection operations are based on:
        </p>

        <ul>
            <li>The type of node: both tags (<i>elements</i>) and text nodes can be selected.</li>
            <li>The name of the element (<i>element = tag</i>).</li>
            <li>The path and depth of the node in the DOM tree.</li>
            <li>The attributes of the element (if it is an element).</li>
            <li>The index of the node: its position among its siblings (<i>brother nodes of the same kind</i>).</li>
            <li>The references applied to the node. These references are resolved by means of the specification
                of an object implementing DOMSelector.INodeReferenceChecker at selector execution time, and allow
                the selection of nodes by features other than the standard ones (name, attributes, etc.)</li>
        </ul>

        <h4>Syntax</h4>

        <p>
            DOM Selector syntax is similar to that of XPath, CSS or jQuery selectors:
        </p>

        <p>Paths:</p>

        <ul>
            <li><kbd>/x</kbd> means direct children of the current node which either have name <kbd>x</kbd>
                or match reference <kbd>x</kbd>. For example: <kbd>/html/body/ul/li</kbd>.</li>
            <li><kbd>//x</kbd> means children of the current node which either have name <kbd>x</kbd> or match
                reference <kbd>x</kbd>, at any depth. For example: <kbd>//li</kbd>.</li>
            <li><kbd>x</kbd> is exactly equivalent to <kbd>//x</kbd>.</li>
            <li><kbd>text()</kbd> means Text nodes (at the specified level). For example: <kbd>//li/text()</kbd>.</li>
        </ul>

        <p>Attribute/index modifiers:</p>

        <ul>
            <li><kbd>x[@z='v']</kbd> means elements with name x and an attribute called <kbd>z</kbd>
                with value <kbd>v</kbd>.</li>
            <li><kbd>[@z='v']</kbd> means elements with any name and an attribute called <kbd>z</kbd>
                with value <kbd>v</kbd>.</li>
            <li>Other operators are also valid, besides <kbd>=</kbd> (equal): <kbd>!=</kbd> (not equal),
                <kbd>^=</kbd> (starts with) and <kbd>$=</kbd> (ends with). For example:
                <kbd>x[@class^='section']</kbd> means elements with name <kbd>x</kbd> and a value for
                attribute class that starts with <kbd>section</kbd>.</li>
            <li>Attributes can be specified both starting with <kbd>@</kbd> (XPath-style) and without
                (jQuery-style). So <kbd>x[@z='v']</kbd> is actually equivalent to <kbd>x[z='v']</kbd>.</li>
            <li><kbd>x[@z1='v1' and @z2='v2']</kbd> means elements with name <kbd>x</kbd> and attributes
                <kbd>z1</kbd> and <kbd>z2</kbd> with values <kbd>v1</kbd> and <kbd>v2</kbd>, respectively.</li>
            <li>Multiple-attribute modifiers can be joined with <kbd>and</kbd> (XPath-style) and also by
                chaining multiple modifiers (jQuery-style). So <kbd>x[@z1='v1' and @z2='v2']</kbd> is
                actually equivalent to <kbd>x[@z1='v1'][@z2='v2']</kbd> (and also to
                <kbd>x[z1='v1'][z2='v2']</kbd>).</li>
            <li><kbd>x[i]</kbd> means element with name <kbd>x</kbd> positioned in number <kbd>i</kbd>
                among its siblings. Note index modifiers must always come after all attribute modifiers.</li>
            <li><kbd>x[@z='v'][i]</kbd> means elements with name <kbd>x</kbd>, attribute <kbd>z</kbd> with value
                <kbd>v</kbd> and positioned in number <kbd>i</kbd> among its siblings that also match this condition.</li>
        </ul>

        <p>Direct selectors:</p>

        <ul>
            <li><kbd>x.oneclass</kbd> is equivalent to <kbd>x[class='oneclass']</kbd>.
            <li><kbd>.oneclass</kbd> is equivalent to <kbd>[class='oneclass']</kbd>.
            <li><kbd>x#oneid</kbd> is equivalent to <kbd>x[id='oneid']</kbd>.
            <li><kbd>#oneid</kbd> is equivalent to <kbd>[id='oneid']</kbd>.
            <li><kbd>x%oneref</kbd> means nodes -not just elements- with name x that match reference oneref according
            to the specified <kbd>DOMSelector.INodeReferenceChecker</kbd> implementation..
            <li><kbd>%oneref</kbd> means nodes -not just elements- with any name that match reference oneref according
            to the specified <kbd>DOMSelector.INodeReferenceChecker</kbd> implementation.. Note this is actually
            equivalent to simply <kbd>oneref</kbd> because references can be used instead of element names,
            as explained above.
            <li>Direct selectors and attribute selectors can be mixed: <kbd>a.external[@href^='https']</kbd>.</li>
        </ul>

        <p>Specific features:</p>

        <p>
            DOM Selectors understand the class attribute to be multivalued, and therefore allow the
            application of modifiers on this attribute even if the element has several class values.
            For example, <kbd>x[class='two']</kbd> will match
            </kbd>&lt;x class="one two three"/&gt;<kbd></kbd>.
        </p>

        <h4>Example</h4>

        <p>
            So now the above DOM Selector expression:
        </p>

        <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
            <div th:include="mytemplate :: [//div/p[@class='content']]">...</div>
        ]]></script>

        <p>
            ...could be written as:
        </p>

        <script type="syntaxhighlighter" class="brush:html;gutter:false"><![CDATA[
            <div th:include="mytemplate :: [div/p.content]">...</div>
        ]]></script>


   </div>
   
   
   <div id="footer">
     <div id="googleplus">
       <div id="plusone-div" class="plusone"></div>
       <script type="text/javascript">
           gapi.plusone.render('plusone-div',{"size": "small", "count": "true", "href": "http://www.thymeleaf.org"});
       </script>
     </div>
     <div id="twitter">
       <a href="http://twitter.com/thymeleaf" class="twitter-follow-button" data-show-count="false">Follow @thymeleaf</a>
       <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
     </div>
     <div id="copy">
       Copyright &copy; The <a href="team.html">THYMELEAF Team</a>. See <a href="documentation.html">applicable licenses</a>.
     </div>
   </div>
   
  </div>

  <script type="text/javascript">
      SyntaxHighlighter.all();
  </script>

  </body>
  
</html>